In [1]:
# numpy and pandas for data manipulation
import numpy as np
import pandas as pd 

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os
from scipy import stats

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Bureau data features
bureau = pd.read_csv('F:/Project/Input_data/bureau.csv')
print('bureau data shape: ', bureau.shape)
bureau.head()

bureau data shape:  (1716428, 17)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [3]:
# Bureau data features
bureau_balance = pd.read_csv('F:/Project/Input_data/bureau_balance.csv')
print('bureau_balance data shape: ', bureau_balance.shape)
bureau_balance.head()

bureau_balance data shape:  (27299925, 3)

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [9]:
# joining bureau and bureau_balance
bureau_mearged = bureau.merge(bureau_balance, on='SK_ID_BUREAU', how='left')
bureau_mearged.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,MONTHS_BALANCE,STATUS
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,NaN,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN,NaN,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN,NaN,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN,NaN,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN,NaN,NaN

In [12]:
bureau_mearged.to_csv('bureau_bureau_bal_m1.csv', index = False)

KeyboardInterrupt:

In [13]:
bureau_mearged.columns

Index(['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE',
       'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG',
       'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT',
       'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE',
       'AMT_ANNUITY', 'MONTHS_BALANCE', 'STATUS'],
      dtype='object')

In [15]:
# Groupby the client id (SK_ID_CURR), count the number of previous loans, and rename the column
previous_loan_counts = bureau_mearged.groupby('SK_ID_CURR', as_index=False)['SK_ID_BUREAU'].count().rename(columns = {'SK_ID_BUREAU': 'previous_loan_counts'})
previous_loan_counts.head()

   SK_ID_CURR  previous_loan_counts
0      100001                   172
1      100002                   110
2      100003                     4
3      100004                     2
4      100005                    21

In [16]:
previous_loan_counts.shape

(305811, 2)

In [17]:
categorical = pd.get_dummies(bureau_mearged.select_dtypes('object'))
categorical['SK_ID_CURR'] = bureau_mearged['SK_ID_CURR']
categorical.head()

,CREDIT_ACTIVE_Active,CREDIT_ACTIVE_Bad debt,CREDIT_ACTIVE_Closed,CREDIT_ACTIVE_Sold,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,CREDIT_TYPE_Another type of loan,CREDIT_TYPE_Car loan,...,CREDIT_TYPE_Unknown type of loan,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X,SK_ID_CURR
0,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,215354
1,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,215354
2,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,215354
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,215354
4,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,215354

In [18]:
categorical_grouped = categorical.groupby('SK_ID_CURR').agg('sum')
categorical_grouped.head()

,CREDIT_ACTIVE_Active,CREDIT_ACTIVE_Bad debt,CREDIT_ACTIVE_Closed,CREDIT_ACTIVE_Sold,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,CREDIT_TYPE_Another type of loan,CREDIT_TYPE_Car loan,...,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,32.0,0.0,140.0,0.0,172.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,31.0,1.0,0.0,0.0,0.0,0.0,110.0,30.0
100002,20.0,0.0,90.0,0.0,110.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,45.0,27.0,0.0,0.0,0.0,0.0,23.0,15.0
100003,1.0,0.0,3.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100004,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100005,8.0,0.0,13.0,0.0,21.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0

In [19]:
continuous_var = [f for f in bureau_mearged.columns if bureau_mearged[f].dtype != 'object']

In [21]:
continuous_grouped = bureau_mearged.groupby('SK_ID_CURR').agg({k:lambda x: x.mean() for k in continuous_var})

In [22]:
print(categorical_grouped.shape)
print(continuous_grouped.shape)

(305811, 31)
(305811, 15)

In [24]:
# merge aggregated numerical and categorical columns
bureau_new = categorical_grouped.merge(continuous_grouped, how='left', on='SK_ID_CURR')

In [25]:
bureau_new

,SK_ID_CURR,CREDIT_ACTIVE_Active,CREDIT_ACTIVE_Bad debt,CREDIT_ACTIVE_Closed,CREDIT_ACTIVE_Sold,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,CREDIT_TYPE_Another type of loan,...,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,MONTHS_BALANCE
0,100001,32.0,0.0,140.0,0.0,172.0,0.0,0.0,0.0,0.0,...,-908.421429,NaN,0.000000,1.615162e+05,2.389377e+04,0.000000,0.000000,-127.651163,1236.244186,-16.279070
1,100002,20.0,0.0,90.0,0.0,110.0,0.0,0.0,0.0,0.0,...,-808.400000,1312.010357,0.000000,1.113888e+05,7.022314e+04,3198.856500,0.000000,-631.963636,0.000000,-24.554545
2,100003,1.0,0.0,3.0,0.0,4.0,0.0,0.0,0.0,0.0,...,-1097.333333,0.000000,0.000000,2.543501e+05,0.000000e+00,202500.000000,0.000000,-816.000000,NaN,NaN
3,100004,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,...,-532.500000,0.000000,0.000000,9.451890e+04,0.000000e+00,0.000000,0.000000,-532.000000,NaN,NaN
4,100005,8.0,0.0,13.0,0.0,21.0,0.0,0.0,0.0,0.0,...,-123.000000,0.000000,0.000000,1.759037e+05,1.329238e+05,0.000000,0.000000,-81.952381,608.785714,-4.333333
5,100007,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,-783.000000,0.000000,0.000000,1.462500e+05,0.000000e+00,0.000000,0.000000,-783.000000,NaN,NaN
6,100008,1.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,...,-909.000000,0.000000,0.000000,1.561485e+05,8.001900e+04,0.000000,0.000000,-611.000000,NaN,NaN
7,100009,4.0,0.0,14.0,0.0,18.0,0.0,0.0,0.0,0.0,...,-1108.500000,0.000000,0.000000,2.667118e+05,7.695354e+04,0.000000,0.000000,-851.611111,NaN,NaN
8,100010,36.0,0.0,36.0,0.0,72.0,0.0,0.0,0.0,0.0,...,-1138.000000,NaN,0.000000,4.950000e+05,1.740038e+05,0.000000,0.000000,-578.000000,NaN,-46.000000
9,100011,0.0,0.0,4.0,0.0,4.0,0.0,0.0,0.0,0.0,...,-1463.250000,5073.615000,0.000000,1.088071e+05,0.000000e+00,0.000000,0.000000,-1454.750000,NaN,NaN
10,100013,0.0,0.0,230.0,0.0,230.0,0.0,0.0,0.0,0.0,...,-1073.917391,19305.000000,0.000000,5.325309e+05,0.000000e+00,NaN,0.000000,-879.278261,0.000000,-29.373913
11,100014,2.0,0.0,6.0,0.0,8.0,0.0,0.0,0.0,0.0,...,-821.333333,3726.352500,0.000000,3.412416e+05,1.516428e+05,0.000000,0.000000,-615.875000,NaN,NaN
12,100015,0.0,0.0,4.0,0.0,4.0,0.0,0.0,0.0,0.0,...,-555.500000,NaN,0.000000,1.023739e+05,0.000000e+00,0.000000,0.000000,-551.250000,NaN,NaN
13,100016,4.0,0.0,3.0,0.0,7.0,0.0,0.0,0.0,0.0,...,-929.666667,0.000000,0.000000,6.785486e+04,1.274490e+04,0.000000,0.000000,-405.857143,NaN,NaN
14,100017,0.0,0.0,6.0,0.0,6.0,0.0,0.0,0.0,0.0,...,-1677.833333,0.000000,0.000000,1.432950e+05,0.000000e+00,0.000000,0.000000,-1594.333333,NaN,NaN
15,100019,34.0,0.0,0.0,0.0,34.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,0.000000,3.600000e+05,1.227351e+05,135000.000000,0.000000,-26.500000,27000.000000,-8.000000
16,100020,2.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,0.0,...,-223.000000,0.000000,0.000000,4.987125e+04,3.077212e+04,0.000000,0.000000,-130.750000,NaN,NaN
17,100022,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,0.000000,5.287500e+05,2.052765e+05,0.000000,0.000000,-28.000000,NaN,NaN
18,100023,4.0,0.0,9.0,0.0,13.0,0.0,0.0,0.0,0.0,...,-997.300000,2720.850000,0.000000,1.265917e+05,1.370385e+04,0.000000,0.000000,-634.076923,NaN,NaN
19,100025,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.000000,2.452500e+06,1.886544e+06,0.000000,0.000000,-49.000000,NaN,NaN
20,100026,2.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,...,-916.000000,0.000000,0.000000,1.875000e+06,1.738907e+06,0.000000,0.000000,-314.666667,NaN,NaN
21,100027,1.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,...,-902.500000,2565.000000,0.000000,2.084325e+05,1.255710e+05,0.000000,0.000000,-600.666667,NaN,NaN
22,100028,175.0,0.0,385.0,0.0,560.0,0.0,0.0,0.0,0.0,...,-1351.948052,0.000000,0.000000,1.101879e+05,4.962624e+03,2934.137749,0.000000,-810.769643,1191.480605,-27.433929
23,100029,1.0,0.0,3.0,0.0,4.0,0.0,0.0,0.0,0.0,...,-1541.333333,NaN,0.000000,1.857008e+06,1.227429e+06,0.000000,0.000000,-1041.750000,NaN,NaN
24,100030,2.0,0.0,4.0,0.0,6.0,0.0,0.0,0.0,0.0,...,-624.000000,0.000000,0.000000,1.072385e+05,7.527375e+04,4276.005000,0.000000,-411.166667,NaN,NaN
25,100031,3.0,0.0,4.0,0.0,7.0,0.0,0.0,0.0,0.0,...,-449.000000,NaN,0.000000,5.672359e+05,5.625000e+05,NaN,0.000000,-266.285714,NaN,NaN
26,100032,19.0,0.0,57.0,0.0,76.0,0.0,0.0,0.0,0.0,...,-636.666667,0.000000,0.000000,3.177900e+05,0.000000e+00,0.000000,0.000000,-436.750000,17437.500000,-25.750000
27,100033,7.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.000000,6.750000e+05,0.000000e+00,0.000000,0.000000,-169.000000,NaN,-3.000000
28,100035,5.0,0.0,4.0,0.0,9.0,0.0,0.0,0.0,0.0,...,-2023.750000,13760.066250,0.000000,3.938984e+05,4.108743e+05,0.000000,0.000000,-915.333333,NaN,NaN
29,100036,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.000000,9.495900e+04,8.339355e+03,NaN,0.000000,-519.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305781,456220,2.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0,...,-1076.666667,0.000000,0.400000,1.660680e+05,1.175350e+05,57551.145000,0.000000,-458.800000,NaN,NaN
305782,456221,30.0,0.0,91.0,0.0,121.0,0.0,0.0,0.0,0.0,...,-612.549451,13329.000000,0.000000,2.048032e+05,6.892884e+04,0.000000,0.000000,-461.644628,3889.338843,-17.272727
305783,456223,8.0,0.0,84.0,0.0,92.0,0.0,0.0,0.0,0.0,...,-550.261905,0.000000,0.000000,2.216193e+05,1.855957e+03,2781.214286,0.000000,-454.565217,481.285714,-12.152174
305784,456224,217.0,0.0,772.0,0.0,989.0,0.0,0.0,0.0,0.0,...,-1708.830311,1857.313141,0.000000,1.972272e+05,3.158162e+04,0.000000,0.000000,-1211.319515,3017.883855,-34.374115
305785,456225,156.0,0.0,115.0,0.0,271.0,0.0,0.0,0.0,0.0,...,-847.608696,NaN,0.000000,3.117041e+05,2.477089e+05,18602.828000,0.000000,-280.608856,NaN,-24.667897
305786,456226,31.0,0.0,0.0,0.0,31.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.000000,1.560484e+05,4.113871e+04,0.000000,0.000000,-9.677419,NaN,-10.161290
305787,456227,2.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,0.0,...,-1305.000000,4680.000000,0.000000,1.993106e+05,5.231700e+04,0.000000,0.000000,-964.250000,NaN,NaN
305788,456229,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,11353.500000,1.000000,2.587500e+05,NaN,NaN,0.000000,-43.000000,NaN,NaN
305789,456230,100.0,0.0,285.0,0.0,385.0,0.0,0.0,0.0,0.0,...,-1071.877193,0.000000,0.000000,1.133573e+05,2.225081e+04,0.000000,21.974026,-643.238961,11288.429480,-26.010390
305790,456231,20.0,0.0,72.0,0.0,92.0,0.0,0.0,0.0,0.0,...,-407.916667,NaN,0.000000,5.306551e+05,1.349494e+05,0.000000,0.000000,-222.684783,23993.250000,-19.304348
305791,456232,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.000000,4.005000e+05,2.586712e+05,0.000000,0.000000,-28.000000,NaN,NaN
305792,456233,7.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,0.000000,2.826633e+05,2.239439e+05,0.000000,0.000000,-20.000000,7537.500000,-3.000000
305793,456234,33.0,0.0,98.0,0.0,131.0,0.0,0.0,0.0,0.0,...,-794.918367,10420.647632,0.000000,1.671987e+05,1.370776e+02,92.127761,0.000000,-614.801527,13125.015000,-22.137405
305794,456235,46.0,0.0,77.0,0.0,123.0,0.0,0.0,0.0,0.0,...,-1336.714286,0.000000,0.000000,5.484037e+05,4.338350e+05,0.000000,0.000000,-723.113821,NaN,-41.178862
305795,456236,4.0,0.0,9.0,0.0,13.0,0.0,0.0,0.0,0.0,...,-1343.888889,2805.545455,0.000000,6.389756e+05,4.420797e+05,0.000000,0.000000,-946.153846,NaN,NaN
305796,456237,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,-1090.000000,NaN,0.000000,9.814500e+04,0.000000e+00,0.000000,0.000000,-1090.000000,NaN,NaN
305797,456238,66.0,0.0,356.0,0.0,422.0,0.0,0.0,0.0,0.0,...,-2371.261236,3998.190747,0.000000,9.743080e+04,4.072700e+04,0.000000,0.000000,-2001.957346,11314.285714,-41.545024
305798,456239,5.0,0.0,6.0,0.0,11.0,0.0,0.0,0.0,0.0,...,-1534.166667,0.000000,0.000000,5.693011e+05,3.809529e+05,0.000000,0.000000,-770.000000,NaN,NaN
305799,456240,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,...,-2464.000000,3996.000000,0.000000,6.619950e+04,3.987225e+04,50127.750000,0.000000,-1238.500000,NaN,NaN
305800,456241,2.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0,...,-695.666667,NaN,0.000000,2.430000e+05,0.000000e+00,0.000000,0.000000,-1096.600000,NaN,NaN
305801,456242,17.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.000000,1.980000e+05,1.860975e+05,0.000000,0.000000,-5.000000,11205.000000,-8.000000
305802,456243,2.0,0.0,5.0,0.0,7.0,0.0,0.0,0.0,0.0,...,-455.000000,0.000000,0.000000,2.553962e+05,3.118635e+05,0.000000,0.000000,-338.285714,NaN,NaN
305803,456244,136.0,0.0,982.0,0.0,1118.0,0.0,0.0,0.0,0.0,...,-1666.095723,7727.260039,0.000000,3.050305e+05,1.905110e+04,38.101138,0.000000,-1410.658318,4930.086207,-36.414132
305804,456246,1.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,...,-1331.000000,NaN,0.000000,1.275000e+05,0.000000e+00,0.000000,0.000000,-373.333333,NaN,NaN
305805,456247,47.0,0.0,273.0,0.0,320.0,0.0,0.0,0.0,0.0,...,-1463.069597,4612.367773,0.031250,3.676703e+05,4.177886e+05,0.000000,0.000000,-1226.431250,4837.617904,-27.281250
305806,456249,2.0,0.0,11.0,0.0,13.0,0.0,0.0,0.0,1.0,...,-1364.750000,6147.000000,0.000000,2.841430e+05,1.630710e+04,0.000000,0.000000,-1064.538462,NaN,NaN
305807,456250,54.0,0.0,33.0,0.0,87.0,0.0,0.0,0.0,0.0,...,-760.000000,0.000000,0.000000,9.716252e+05,6.760518e+05,18753.043448,0.000000,-65.022989,170124.655862,-14.149425
305808,456253,55.0,0.0,62.0,0.0,117.0,0.0,0.0,0.0,0.0,...,-794.000000,NaN,0.000000,9.146154e+05,3.786089e+05,0.000000,0.000000,-268.102564,58369.500000,-14.282051
305809,456254,0.0,0.0,37.0,0.0,37.0,0.0,0.0,0.0,0.0,...,-859.000000,NaN,0.000000,4.500000e+04,0.000000e+00,NaN,0.000000,-401.000000,0.000000,-18.000000
305810,456255,93.0,0.0,200.0,0.0,293.0,0.0,0.0,0.0,0.0,...,-976.090000,13629.984961,0.112628,3.425365e+05,1.792421e+05,0.000000,0.000000,-662.883959,1059.695565,-26.392491

In [26]:
# merge aggregated numerical and categorical columns
bureau_final = bureau_new.merge(previous_loan_counts, how='left', on='SK_ID_CURR', right_index=True)

In [28]:
bureau_final.shape

(305811, 47)

In [34]:
bureau_final.to_csv('bureau_bureau_bal_aggregate.csv', index = False)

In [32]:
bureau_final

,SK_ID_CURR,CREDIT_ACTIVE_Active,CREDIT_ACTIVE_Bad debt,CREDIT_ACTIVE_Closed,CREDIT_ACTIVE_Sold,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,CREDIT_TYPE_Another type of loan,...,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,MONTHS_BALANCE,previous_loan_counts
0,100001,32.0,0.0,140.0,0.0,172.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,1.615162e+05,2.389377e+04,0.000000,0.000000,-127.651163,1236.244186,-16.279070,225.0
1,100002,20.0,0.0,90.0,0.0,110.0,0.0,0.0,0.0,0.0,...,1312.010357,0.000000,1.113888e+05,7.022314e+04,3198.856500,0.000000,-631.963636,0.000000,-24.554545,1.0
2,100003,1.0,0.0,3.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,2.543501e+05,0.000000e+00,202500.000000,0.000000,-816.000000,NaN,NaN,8.0
3,100004,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,9.451890e+04,0.000000e+00,0.000000,0.000000,-532.000000,NaN,NaN,49.0
4,100005,8.0,0.0,13.0,0.0,21.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,1.759037e+05,1.329238e+05,0.000000,0.000000,-81.952381,608.785714,-4.333333,11.0
5,100007,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,1.462500e+05,0.000000e+00,0.000000,0.000000,-783.000000,NaN,NaN,2.0
6,100008,1.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,1.561485e+05,8.001900e+04,0.000000,0.000000,-611.000000,NaN,NaN,242.0
7,100009,4.0,0.0,14.0,0.0,18.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,2.667118e+05,7.695354e+04,0.000000,0.000000,-851.611111,NaN,NaN,6.0
8,100010,36.0,0.0,36.0,0.0,72.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,4.950000e+05,1.740038e+05,0.000000,0.000000,-578.000000,NaN,-46.000000,12.0
9,100011,0.0,0.0,4.0,0.0,4.0,0.0,0.0,0.0,0.0,...,5073.615000,0.000000,1.088071e+05,0.000000e+00,0.000000,0.000000,-1454.750000,NaN,NaN,5.0
10,100013,0.0,0.0,230.0,0.0,230.0,0.0,0.0,0.0,0.0,...,19305.000000,0.000000,5.325309e+05,0.000000e+00,NaN,0.000000,-879.278261,0.000000,-29.373913,7.0
11,100014,2.0,0.0,6.0,0.0,8.0,0.0,0.0,0.0,0.0,...,3726.352500,0.000000,3.412416e+05,1.516428e+05,0.000000,0.000000,-615.875000,NaN,NaN,9.0
12,100015,0.0,0.0,4.0,0.0,4.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,1.023739e+05,0.000000e+00,0.000000,0.000000,-551.250000,NaN,NaN,158.0
13,100016,4.0,0.0,3.0,0.0,7.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,6.785486e+04,1.274490e+04,0.000000,0.000000,-405.857143,NaN,NaN,106.0
14,100017,0.0,0.0,6.0,0.0,6.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,1.432950e+05,0.000000e+00,0.000000,0.000000,-1594.333333,NaN,NaN,2.0
15,100019,34.0,0.0,0.0,0.0,34.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,3.600000e+05,1.227351e+05,135000.000000,0.000000,-26.500000,27000.000000,-8.000000,5.0
16,100020,2.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,4.987125e+04,3.077212e+04,0.000000,0.000000,-130.750000,NaN,NaN,1.0
17,100022,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,5.287500e+05,2.052765e+05,0.000000,0.000000,-28.000000,NaN,NaN,195.0
18,100023,4.0,0.0,9.0,0.0,13.0,0.0,0.0,0.0,0.0,...,2720.850000,0.000000,1.265917e+05,1.370385e+04,0.000000,0.000000,-634.076923,NaN,NaN,302.0
19,100025,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,2.452500e+06,1.886544e+06,0.000000,0.000000,-49.000000,NaN,NaN,83.0
20,100026,2.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,1.875000e+06,1.738907e+06,0.000000,0.000000,-314.666667,NaN,NaN,2.0
21,100027,1.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,...,2565.000000,0.000000,2.084325e+05,1.255710e+05,0.000000,0.000000,-600.666667,NaN,NaN,21.0
22,100028,175.0,0.0,385.0,0.0,560.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,1.101879e+05,4.962624e+03,2934.137749,0.000000,-810.769643,1191.480605,-27.433929,136.0
23,100029,1.0,0.0,3.0,0.0,4.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,1.857008e+06,1.227429e+06,0.000000,0.000000,-1041.750000,NaN,NaN,3.0
24,100030,2.0,0.0,4.0,0.0,6.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,1.072385e+05,7.527375e+04,4276.005000,0.000000,-411.166667,NaN,NaN,7.0
25,100031,3.0,0.0,4.0,0.0,7.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,5.672359e+05,5.625000e+05,NaN,0.000000,-266.285714,NaN,NaN,5.0
26,100032,19.0,0.0,57.0,0.0,76.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,3.177900e+05,0.000000e+00,0.000000,0.000000,-436.750000,17437.500000,-25.750000,2.0
27,100033,7.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,6.750000e+05,0.000000e+00,0.000000,0.000000,-169.000000,NaN,-3.000000,263.0
28,100035,5.0,0.0,4.0,0.0,9.0,0.0,0.0,0.0,0.0,...,13760.066250,0.000000,3.938984e+05,4.108743e+05,0.000000,0.000000,-915.333333,NaN,NaN,1.0
29,100036,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,9.495900e+04,8.339355e+03,NaN,0.000000,-519.000000,NaN,NaN,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305781,456220,2.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.000000,0.400000,1.660680e+05,1.175350e+05,57551.145000,0.000000,-458.800000,NaN,NaN,NaN
305782,456221,30.0,0.0,91.0,0.0,121.0,0.0,0.0,0.0,0.0,...,13329.000000,0.000000,2.048032e+05,6.892884e+04,0.000000,0.000000,-461.644628,3889.338843,-17.272727,NaN
305783,456223,8.0,0.0,84.0,0.0,92.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,2.216193e+05,1.855957e+03,2781.214286,0.000000,-454.565217,481.285714,-12.152174,NaN
305784,456224,217.0,0.0,772.0,0.0,989.0,0.0,0.0,0.0,0.0,...,1857.313141,0.000000,1.972272e+05,3.158162e+04,0.000000,0.000000,-1211.319515,3017.883855,-34.374115,NaN
305785,456225,156.0,0.0,115.0,0.0,271.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,3.117041e+05,2.477089e+05,18602.828000,0.000000,-280.608856,NaN,-24.667897,NaN
305786,456226,31.0,0.0,0.0,0.0,31.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,1.560484e+05,4.113871e+04,0.000000,0.000000,-9.677419,NaN,-10.161290,NaN
305787,456227,2.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,0.0,...,4680.000000,0.000000,1.993106e+05,5.231700e+04,0.000000,0.000000,-964.250000,NaN,NaN,NaN
305788,456229,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,11353.500000,1.000000,2.587500e+05,NaN,NaN,0.000000,-43.000000,NaN,NaN,NaN
305789,456230,100.0,0.0,285.0,0.0,385.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,1.133573e+05,2.225081e+04,0.000000,21.974026,-643.238961,11288.429480,-26.010390,NaN
305790,456231,20.0,0.0,72.0,0.0,92.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,5.306551e+05,1.349494e+05,0.000000,0.000000,-222.684783,23993.250000,-19.304348,NaN
305791,456232,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,4.005000e+05,2.586712e+05,0.000000,0.000000,-28.000000,NaN,NaN,NaN
305792,456233,7.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,2.826633e+05,2.239439e+05,0.000000,0.000000,-20.000000,7537.500000,-3.000000,NaN
305793,456234,33.0,0.0,98.0,0.0,131.0,0.0,0.0,0.0,0.0,...,10420.647632,0.000000,1.671987e+05,1.370776e+02,92.127761,0.000000,-614.801527,13125.015000,-22.137405,NaN
305794,456235,46.0,0.0,77.0,0.0,123.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,5.484037e+05,4.338350e+05,0.000000,0.000000,-723.113821,NaN,-41.178862,NaN
305795,456236,4.0,0.0,9.0,0.0,13.0,0.0,0.0,0.0,0.0,...,2805.545455,0.000000,6.389756e+05,4.420797e+05,0.000000,0.000000,-946.153846,NaN,NaN,NaN
305796,456237,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,9.814500e+04,0.000000e+00,0.000000,0.000000,-1090.000000,NaN,NaN,NaN
305797,456238,66.0,0.0,356.0,0.0,422.0,0.0,0.0,0.0,0.0,...,3998.190747,0.000000,9.743080e+04,4.072700e+04,0.000000,0.000000,-2001.957346,11314.285714,-41.545024,NaN
305798,456239,5.0,0.0,6.0,0.0,11.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,5.693011e+05,3.809529e+05,0.000000,0.000000,-770.000000,NaN,NaN,NaN
305799,456240,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,...,3996.000000,0.000000,6.619950e+04,3.987225e+04,50127.750000,0.000000,-1238.500000,NaN,NaN,NaN
305800,456241,2.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,2.430000e+05,0.000000e+00,0.000000,0.000000,-1096.600000,NaN,NaN,NaN
305801,456242,17.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,1.980000e+05,1.860975e+05,0.000000,0.000000,-5.000000,11205.000000,-8.000000,NaN
305802,456243,2.0,0.0,5.0,0.0,7.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,2.553962e+05,3.118635e+05,0.000000,0.000000,-338.285714,NaN,NaN,NaN
305803,456244,136.0,0.0,982.0,0.0,1118.0,0.0,0.0,0.0,0.0,...,7727.260039,0.000000,3.050305e+05,1.905110e+04,38.101138,0.000000,-1410.658318,4930.086207,-36.414132,NaN
305804,456246,1.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,1.275000e+05,0.000000e+00,0.000000,0.000000,-373.333333,NaN,NaN,NaN
305805,456247,47.0,0.0,273.0,0.0,320.0,0.0,0.0,0.0,0.0,...,4612.367773,0.031250,3.676703e+05,4.177886e+05,0.000000,0.000000,-1226.431250,4837.617904,-27.281250,NaN
305806,456249,2.0,0.0,11.0,0.0,13.0,0.0,0.0,0.0,1.0,...,6147.000000,0.000000,2.841430e+05,1.630710e+04,0.000000,0.000000,-1064.538462,NaN,NaN,NaN
305807,456250,54.0,0.0,33.0,0.0,87.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,9.716252e+05,6.760518e+05,18753.043448,0.000000,-65.022989,170124.655862,-14.149425,NaN
305808,456253,55.0,0.0,62.0,0.0,117.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,9.146154e+05,3.786089e+05,0.000000,0.000000,-268.102564,58369.500000,-14.282051,NaN
305809,456254,0.0,0.0,37.0,0.0,37.0,0.0,0.0,0.0,0.0,...,NaN,0.000000,4.500000e+04,0.000000e+00,NaN,0.000000,-401.000000,0.000000,-18.000000,NaN
305810,456255,93.0,0.0,200.0,0.0,293.0,0.0,0.0,0.0,0.0,...,13629.984961,0.112628,3.425365e+05,1.792421e+05,0.000000,0.000000,-662.883959,1059.695565,-26.392491,NaN

In [33]:
previous_loan_counts

        SK_ID_CURR  previous_loan_counts
0           100001                   172
1           100002                   110
2           100003                     4
3           100004                     2
4           100005                    21
5           100007                     1
6           100008                     3
7           100009                    18
8           100010                    72
9           100011                     4
10          100013                   230
11          100014                     8
12          100015                     4
13          100016                     7
14          100017                     6
15          100019                    34
16          100020                     4
17          100022                     2
18          100023                    13
19          100025                     1
20          100026                     3
21          100027                     3
22          100028                   560
23          100029                     4
24          100030                     6
25          100031                     7
26          100032                    76
27          100033                     7
28          100035                     9
29          100036                     1
...            ...                   ...
305781      456220                     5
305782      456221                   121
305783      456223                    92
305784      456224                   989
305785      456225                   271
305786      456226                    31
305787      456227                     4
305788      456229                     1
305789      456230                   385
305790      456231                    92
305791      456232                     2
305792      456233                     7
305793      456234                   131
305794      456235                   123
305795      456236                    13
305796      456237                     1
305797      456238                   422
305798      456239                    11
305799      456240                     2
305800      456241                     5
305801      456242                    17
305802      456243                     7
305803      456244                  1118
305804      456246                     3
305805      456247                   320
305806      456249                    13
305807      456250                    87
305808      456253                   117
305809      456254                    37
305810      456255                   293

[305811 rows x 2 columns]