In [1]:
# import warnings filter
from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)
#ignore all Depricated Warning
simplefilter(action='ignore', category=DeprecationWarning)
simplefilter(action='ignore', category=UserWarning)
simplefilter(action='ignore', category=RuntimeWarning)
import pandas as pd
import io
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
print ('Ran')

Ran

In [ ]:
app_train = pd.read_csv('C:/Users/dbda/Desktop/Work/UI/imputed_app_train_ui.csv')

In [ ]:
print('Training data shape: ', app_train.shape)

In [ ]:
app_train.head()

In [ ]:
X = app_train.drop(['TARGET','SK_ID_CURR'],axis=1)
y = app_train['TARGET']

In [ ]:
print(X.shape)
print(y.shape)

In [2]:
# Testing data features
app_test = pd.read_csv('C:/Users/dbda/Desktop/Work/UI/imputed_app_test_ui.csv')

In [3]:
print('Testing data shape: ', app_test.shape)

Testing data shape:  (48744, 53)

In [ ]:
train_sk_id_curr = app_train['SK_ID_CURR']

In [4]:
test_sk_id_curr = app_test['SK_ID_CURR']

In [5]:
app_test=app_test.drop('SK_ID_CURR',axis=1)

In [6]:
print('Testing data shape: ', app_test.shape)

Testing data shape:  (48744, 52)

In [7]:
app_test.head()

,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,EXT_SOURCE_2,...,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff
0,135000.0,568800.0,20560.5,450000.0,-19241.0,-2329.0,-812.0,2.0,2.0,0.789654,...,1,0,0,0,0,0,0,0,0,0
1,99000.0,222768.0,17370.0,180000.0,-18064.0,-4469.0,-1623.0,2.0,2.0,0.291656,...,0,1,0,0,0,0,0,0,0,0
2,202500.0,663264.0,69777.0,630000.0,-20038.0,-4458.0,-3503.0,2.0,2.0,0.699787,...,0,0,0,0,0,0,0,0,0,0
3,315000.0,1575000.0,49018.5,1575000.0,-13976.0,-1866.0,-4208.0,4.0,2.0,0.509677,...,0,0,0,0,0,0,1,0,0,0
4,180000.0,625500.0,32067.0,625500.0,-13040.0,-2191.0,-4262.0,3.0,2.0,0.425687,...,1,0,0,0,0,0,0,0,0,0

In [ ]:
X, app_test = X.align(app_test, join = 'inner', axis = 1)
print('Training Features shape: ', X.shape)
print('Testing Features shape: ', app_test.shape)

In [ ]:
from sklearn.metrics import accuracy_score
from catboost import CatBoostClassifier

In [ ]:
clf = CatBoostClassifier(iterations=500,
                              learning_rate=0.1,
                              depth=8,
                              loss_function='Logloss',
                              bootstrap_type='Bernoulli',
                              eval_metric='AUC',
                              class_weights=[1, 2],
                              random_seed=9, 
                              verbose=False)

In [ ]:
clf.fit(X,y)
print('Fitted')

In [ ]:
pickle.dump(clf, open("C:/Users/dbda/Desktop/Work/CatBoost_v2/catboost.dat", "wb"))

In [8]:
clf = pickle.load(open("C:/Users/dbda/Desktop/Work/CatBoost_v2/catboost.dat", "rb"))

In [9]:
y_pred = clf.predict_proba(app_test)[:,1]

In [10]:
submission = pd.DataFrame({'SK_ID_CURR': test_sk_id_curr, 'TARGET': y_pred})

In [11]:
submission.to_csv('C:/Users/dbda/Desktop/Work/CatBoost_v2/catboost_5.csv', index = False)