In [1]:
import pandas as pd
import numpy as np

# matplotlib and seaborn for plotting
import matplotlib.pyplot as plt
import seaborn as sns

# Suppress warnings from pandas
import warnings
warnings.filterwarnings('ignore')

plt.style.use('fivethirtyeight')

In [50]:
pos_cash= pd.read_csv('C:\\home-credit-default-risk\\POS_CASH_balance.csv')

In [70]:
drop_prev=pos_cash.drop(columns = ['SK_ID_PREV'])
drop_prev.head()

,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,182943,-31,48.0,45.0,Active,0,0
1,367990,-33,36.0,35.0,Active,0,0
2,397406,-32,12.0,9.0,Active,0,0
3,269225,-35,48.0,42.0,Active,0,0
4,334279,-35,36.0,35.0,Active,0,0

In [64]:
pos_cash[pos_cash['NAME_CONTRACT_STATUS']=='Approved'].count()

SK_ID_PREV               4917
SK_ID_CURR               4917
MONTHS_BALANCE           4917
CNT_INSTALMENT           2113
CNT_INSTALMENT_FUTURE    2123
NAME_CONTRACT_STATUS     4917
SK_DPD                   4917
SK_DPD_DEF               4917
dtype: int64

In [51]:
pos_cash.shape

(10001358, 8)

In [48]:
pos_cash.shape

(10001358, 8)

In [3]:
pos_cash.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [30]:
# Groupby the client id (SK_ID_CURR), count the number of previous loans, and rename the column

previous_loan_counts = pos_cash.groupby('SK_ID_CURR', as_index=False)['SK_ID_PREV'].count().rename(columns = {'SK_ID_PREV':'sk_id_prev_count'})

In [31]:
previous_loan_counts.head(10)

   SK_ID_CURR  sk_id_prev_count
0      100001                 9
1      100002                19
2      100003                28
3      100004                 4
4      100005                11
5      100006                21
6      100007                66
7      100008                83
8      100009                64
9      100010                11

In [84]:
name_contract_status = pos_cash[pos_cash['NAME_CONTRACT_STATUS']=='Active'].groupby('SK_ID_CURR', as_index=False)['NAME_CONTRACT_STATUS'].count().rename(columns = {'NAME_CONTRACT_STATUS':'active_counts'})

In [109]:
dd=previous_loan_counts.merge(name_contract_status)
dd.head()

   SK_ID_CURR  sk_id_prev_count  active_counts
0      100001                 9              7
1      100002                19             19
2      100003                28             26
3      100004                 4              3
4      100005                11              9

In [111]:
name_contract_status1 = pos_cash[pos_cash['NAME_CONTRACT_STATUS']=='Approved'].groupby('SK_ID_CURR', as_index=False)['NAME_CONTRACT_STATUS'].count().rename(columns = {'NAME_CONTRACT_STATUS':'approved_counts'})

In [ ]:
name_contract_status2= pos_cash[pos_cash['NAME_CONTRACT_STATUS']=='Canceled'].groupby('SK_ID_CURR', as_index=False)['NAME_CONTRACT_STATUS'].count().rename(columns = {'NAME_CONTRACT_STATUS':'cancled_counts'})
name_contract_status3 = pos_cash[pos_cash['NAME_CONTRACT_STATUS']=='Completed'].groupby('SK_ID_CURR', as_index=False)['NAME_CONTRACT_STATUS'].count().rename(columns = {'NAME_CONTRACT_STATUS':'completed_counts'})
name_contract_status4= pos_cash[pos_cash['NAME_CONTRACT_STATUS']=='Demand'].groupby('SK_ID_CURR', as_index=False)['NAME_CONTRACT_STATUS'].count().rename(columns = {'NAME_CONTRACT_STATUS':'demand_counts'})
name_contract_status5 = pos_cash[pos_cash['NAME_CONTRACT_STATUS']=='Returned to the store'].groupby('SK_ID_CURR', as_index=False)['NAME_CONTRACT_STATUS'].count().rename(columns = {'NAME_CONTRACT_STATUS':'Returned to the store_counts'})
name_contract_status6= pos_cash[pos_cash['NAME_CONTRACT_STATUS']=='Signed'].groupby('SK_ID_CURR', as_index=False)['NAME_CONTRACT_STATUS'].count().rename(columns = {'NAME_CONTRACT_STATUS':'Signed_counts'})

In [112]:
ddd=dd.merge(name_contract_status1)
ddd[ddd['SK_ID_CURR']==100002].head()

Empty DataFrame
Columns: [SK_ID_CURR, sk_id_prev_count, active_counts, approved_counts]
Index: []

In [94]:
d4=ddd.merge(name_contract_status2)
d4.head()

,SK_ID_CURR,sk_id_prev_count,active_counts,approved_counts,cancled_counts
0,236646,30,27,2,1
1,256843,24,19,1,1

In [95]:
d5=d4.merge(name_contract_status3)
d5.head()

,SK_ID_CURR,sk_id_prev_count,active_counts,approved_counts,cancled_counts,completed_counts
0,256843,24,19,1,1,2

In [96]:
d6=d5.merge(name_contract_status4)
d6.head()

Empty DataFrame
Columns: [SK_ID_CURR, sk_id_prev_count, active_counts, approved_counts, cancled_counts, completed_counts, demand_counts]
Index: []

In [97]:
d7=d6.merge(name_contract_status5)
d7.head()

Empty DataFrame
Columns: [sk_id_prev_count, active_counts, approved_counts, cancled_counts, completed_counts, demand_counts, SK_ID_CURR, Returned to the store_counts]
Index: []

In [98]:
d8=d7.merge(name_contract_status5)
d8.head()

Empty DataFrame
Columns: [sk_id_prev_count, active_counts, approved_counts, cancled_counts, completed_counts, demand_counts, SK_ID_CURR, Returned to the store_counts]
Index: []

In [99]:
d9=d8.merge(name_contract_status6)
d9.head()

Empty DataFrame
Columns: [sk_id_prev_count, active_counts, approved_counts, cancled_counts, completed_counts, demand_counts, Returned to the store_counts, SK_ID_CURR, Signed_counts]
Index: []

In [73]:
pos_agg = drop_prev.groupby('SK_ID_CURR', as_index =False).agg(['mean'])
pos_agg.head()

,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,SK_DPD,SK_DPD_DEF
,mean,mean,mean,mean,mean
SK_ID_CURR,,,,,
100001,-72.555556,4.000000,1.444444,0.777778,0.777778
100002,-10.000000,24.000000,15.000000,0.000000,0.000000
100003,-43.785714,10.107143,5.785714,0.000000,0.000000
100004,-25.500000,3.750000,2.250000,0.000000,0.000000
100005,-20.000000,11.700000,7.200000,0.000000,0.000000

In [102]:
final_agg=pos_agg.merge(d9,on='SK_ID_CURR')
final_agg.head()

Empty DataFrame
Columns: [SK_ID_CURR, (MONTHS_BALANCE, mean), (CNT_INSTALMENT, mean), (CNT_INSTALMENT_FUTURE, mean), (SK_DPD, mean), (SK_DPD_DEF, mean), sk_id_prev_count, active_counts, approved_counts, cancled_counts, completed_counts, demand_counts, Returned to the store_counts, Signed_counts]
Index: []

In [104]:
posh_csv=pos_agg.to_csv("C:\\home-credit-default-risk\\result\\POSH_CASH_balance.csv")