In [1]:
import pandas as pd
import io
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')
print ('Ran')

Ran

In [2]:
# app_test data features
app_test = pd.read_csv('F:/Project/Merged_train_test/merged_test.csv')
print('app_test data shape: ', app_test.shape)
app_test.head()

app_test data shape:  (48744, 374)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,...,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0.0,0.0,31.0,1.0,0.0,0.0,0.0,0.0,110.0,30.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0.0,0.0,79.0,7.0,0.0,0.0,0.0,0.0,103.0,41.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0.0,0.0,164.0,0.0,0.0,0.0,0.0,0.0,263.0,133.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
app_test[['DAYS_EMPLOYED',
        'DAYS_FIRST_DRAWING',
        'DAYS_FIRST_DUE',
        'DAYS_LAST_DUE_1ST_VERSION',
        'DAYS_LAST_DUE',
        'DAYS_TERMINATION']].replace(365243, np.nan, inplace=True)

In [10]:
def replace_XNA_XAP(table):

    # Replace all values of 'XNA', 'XAP' with np.nan
    table.replace(to_replace = {'XNA': np.nan, 'XAP': np.nan}, value = None, inplace = True)
    
    return table

In [11]:
app_test = replace_XNA_XAP(app_test)

In [41]:
XNA_col=[col for col in app_test.columns if '_XNA' in col]

In [42]:
XAP_col=[col for col in app_test.columns if '_XAP' in col]

In [46]:
XNA_col

['NAME_CONTRACT_TYPE_XNA',
 'NAME_CASH_LOAN_PURPOSE_XNA',
 'NAME_PAYMENT_TYPE_XNA',
 'CODE_REJECT_REASON_XNA',
 'NAME_CLIENT_TYPE_XNA',
 'NAME_GOODS_CATEGORY_XNA',
 'NAME_PORTFOLIO_XNA',
 'NAME_PRODUCT_TYPE_XNA',
 'NAME_SELLER_INDUSTRY_XNA',
 'NAME_YIELD_GROUP_XNA',
 'NAME_CONTRACT_STATUS_XNA']

In [45]:
XAP_col

['NAME_CASH_LOAN_PURPOSE_XAP', 'CODE_REJECT_REASON_XAP']

In [47]:
XNA_XAP_col = XNA_col + XAP_col

In [48]:
XNA_XAP_col

['NAME_CONTRACT_TYPE_XNA',
 'NAME_CASH_LOAN_PURPOSE_XNA',
 'NAME_PAYMENT_TYPE_XNA',
 'CODE_REJECT_REASON_XNA',
 'NAME_CLIENT_TYPE_XNA',
 'NAME_GOODS_CATEGORY_XNA',
 'NAME_PORTFOLIO_XNA',
 'NAME_PRODUCT_TYPE_XNA',
 'NAME_SELLER_INDUSTRY_XNA',
 'NAME_YIELD_GROUP_XNA',
 'NAME_CONTRACT_STATUS_XNA',
 'NAME_CASH_LOAN_PURPOSE_XAP',
 'CODE_REJECT_REASON_XAP']

In [50]:
cat_features = [f for f in app_test.columns if app_test[f].dtype == 'object' and f not in XNA_XAP_col]

In [51]:
cat_features

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE']

In [52]:
num_features = [f for f in app_test.columns if app_test[f].dtype != 'object' and f not in XNA_XAP_col]

In [53]:
num_features

['SK_ID_CURR',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT_x',
 'AMT_ANNUITY_x',
 'AMT_GOODS_PRICE_x',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'HOUR_APPR_PROCESS_START_x',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'TOTALAREA_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR',
 'AMT_ANNUITY_y',
 'AMT_APPLICATION',
 'AMT_CREDIT_y',
 'AMT_DOWN_PAYMENT',
 'AMT_GOODS_PRICE_y',
 'HOUR_APPR_PROCESS_START_y',
 'RATE_DOWN_PAYMENT',
 'RATE_INTEREST_PRIMARY',
 'RATE_INTEREST_PRIVILEGED',
 'DAYS_DECISION',
 'SELLERPLACE_AREA',
 'CNT_PAYMENT',
 'DAYS_FIRST_DRAWING',
 'DAYS_FIRST_DUE',
 'DAYS_LAST_DUE_1ST_VERSION',
 'DAYS_LAST_DUE',
 'DAYS_TERMINATION',
 'NAME_CONTRACT_TYPE_Cash loans',
 'NAME_CONTRACT_TYPE_Consumer loans',
 'NAME_CONTRACT_TYPE_Revolving loans',
 'WEEKDAY_APPR_PROCESS_START_FRIDAY',
 'WEEKDAY_APPR_PROCESS_START_MONDAY',
 'WEEKDAY_APPR_PROCESS_START_SATURDAY',
 'WEEKDAY_APPR_PROCESS_START_SUNDAY',
 'WEEKDAY_APPR_PROCESS_START_THURSDAY',
 'WEEKDAY_APPR_PROCESS_START_TUESDAY',
 'WEEKDAY_APPR_PROCESS_START_WEDNESDAY',
 'NAME_CASH_LOAN_PURPOSE_Building a house or an annex',
 'NAME_CASH_LOAN_PURPOSE_Business development',
 'NAME_CASH_LOAN_PURPOSE_Buying a garage',
 'NAME_CASH_LOAN_PURPOSE_Buying a holiday home / land',
 'NAME_CASH_LOAN_PURPOSE_Buying a home',
 'NAME_CASH_LOAN_PURPOSE_Buying a new car',
 'NAME_CASH_LOAN_PURPOSE_Buying a used car',
 'NAME_CASH_LOAN_PURPOSE_Car repairs',
 'NAME_CASH_LOAN_PURPOSE_Education',
 'NAME_CASH_LOAN_PURPOSE_Everyday expenses',
 'NAME_CASH_LOAN_PURPOSE_Furniture',
 'NAME_CASH_LOAN_PURPOSE_Gasification / water supply',
 'NAME_CASH_LOAN_PURPOSE_Hobby',
 'NAME_CASH_LOAN_PURPOSE_Journey',
 'NAME_CASH_LOAN_PURPOSE_Medicine',
 'NAME_CASH_LOAN_PURPOSE_Money for a third person',
 'NAME_CASH_LOAN_PURPOSE_Other',
 'NAME_CASH_LOAN_PURPOSE_Payments on other loans',
 'NAME_CASH_LOAN_PURPOSE_Purchase of electronic equipment',
 'NAME_CASH_LOAN_PURPOSE_Refusal to name the goal',
 'NAME_CASH_LOAN_PURPOSE_Repairs',
 'NAME_CASH_LOAN_PURPOSE_Urgent needs',
 'NAME_CASH_LOAN_PURPOSE_Wedding / gift / holiday',
 'NAME_CONTRACT_STATUS_Approved_x',
 'NAME_CONTRACT_STATUS_Canceled_x',
 'NAME_CONTRACT_STATUS_Refused_x',
 'NAME_CONTRACT_STATUS_Unused offer',
 'NAME_PAYMENT_TYPE_Cash through the bank',
 'NAME_PAYMENT_TYPE_Cashless from the account of the employer',
 'NAME_PAYMENT_TYPE_Non-cash from your account',
 'CODE_REJECT_REASON_CLIENT',
 'CODE_REJECT_REASON_HC',
 'CODE_REJECT_REASON_LIMIT',
 'CODE_REJECT_REASON_SCO',
 'CODE_REJECT_REASON_SCOFR',
 'CODE_REJECT_REASON_SYSTEM',
 'CODE_REJECT_REASON_VERIF',
 'NAME_TYPE_SUITE_Children',
 'NAME_TYPE_SUITE_Family',
 'NAME_TYPE_SUITE_Group of people',
 'NAME_TYPE_SUITE_Other_A',
 'NAME_TYPE_SUITE_Other_B',
 'NAME_TYPE_SUITE_Spouse, partner',
 'NAME_TYPE_SUITE_Unaccompanied',
 'NAME_CLIENT_TYPE_New',
 'NAME_CLIENT_TYPE_Refreshed',
 'NAME_CLIENT_TYPE_Repeater',
 'NAME_GOODS_CATEGORY_Additional Service',
 'NAME_GOODS_CATEGORY_Animals',
 'NAME_GOODS_CATEGORY_Audio/Video',
 'NAME_GOODS_CATEGORY_Auto Accessories',
 'NAME_GOODS_CATEGORY_Clothing and Accessories',
 'NAME_GOODS_CATEGORY_Computers',
 'NAME_GOODS_CATEGORY_Construction Materials',
 'NAME_GOODS_CATEGORY_Consumer Electronics',
 'NAME_GOODS_CATEGORY_Direct Sales',
 'NAME_GOODS_CATEGORY_Education',
 'NAME_GOODS_CATEGORY_Fitness',
 'NAME_GOODS_CATEGORY_Furniture',
 'NAME_GOODS_CATEGORY_Gardening',
 'NAME_GOODS_CATEGORY_Homewares',
 'NAME_GOODS_CATEGORY_House Construction',
 'NAME_GOODS_CATEGORY_Insurance',
 'NAME_GOODS_CATEGORY_Jewelry',
 'NAME_GOODS_CATEGORY_Medical Supplies',
 'NAME_GOODS_CATEGORY_Medicine',
 'NAME_GOODS_CATEGORY_Mobile',
 'NAME_GOODS_CATEGORY_Office Appliances',
 'NAME_GOODS_CATEGORY_Other',
 'NAME_GOODS_CATEGORY_Photo / Cinema Equipment',
 'NAME_GOODS_CATEGORY_Sport and Leisure',
 'NAME_GOODS_CATEGORY_Tourism',
 'NAME_GOODS_CATEGORY_Vehicles',
 'NAME_GOODS_CATEGORY_Weapon',
 'NAME_PORTFOLIO_Cards',
 'NAME_PORTFOLIO_Cars',
 'NAME_PORTFOLIO_Cash',
 'NAME_PORTFOLIO_POS',
 'NAME_PRODUCT_TYPE_walk-in',
 'NAME_PRODUCT_TYPE_x-sell',
 'CHANNEL_TYPE_AP+ (Cash loan)',
 'CHANNEL_TYPE_Car dealer',
 'CHANNEL_TYPE_Channel of corporate sales',
 'CHANNEL_TYPE_Contact center',
 'CHANNEL_TYPE_Country-wide',
 'CHANNEL_TYPE_Credit and cash offices',
 'CHANNEL_TYPE_Regional / Local',
 'CHANNEL_TYPE_Stone',
 'NAME_SELLER_INDUSTRY_Auto technology',
 'NAME_SELLER_INDUSTRY_Clothing',
 'NAME_SELLER_INDUSTRY_Connectivity',
 'NAME_SELLER_INDUSTRY_Construction',
 'NAME_SELLER_INDUSTRY_Consumer electronics',
 'NAME_SELLER_INDUSTRY_Furniture',
 'NAME_SELLER_INDUSTRY_Industry',
 'NAME_SELLER_INDUSTRY_Jewelry',
 'NAME_SELLER_INDUSTRY_MLM partners',
 'NAME_SELLER_INDUSTRY_Tourism',
 'NAME_YIELD_GROUP_high',
 'NAME_YIELD_GROUP_low_action',
 'NAME_YIELD_GROUP_low_normal',
 'NAME_YIELD_GROUP_middle',
 'PRODUCT_COMBINATION_Card Street',
 'PRODUCT_COMBINATION_Card X-Sell',
 'PRODUCT_COMBINATION_Cash',
 'PRODUCT_COMBINATION_Cash Street: high',
 'PRODUCT_COMBINATION_Cash Street: low',
 'PRODUCT_COMBINATION_Cash Street: middle',
 'PRODUCT_COMBINATION_Cash X-Sell: high',
 'PRODUCT_COMBINATION_Cash X-Sell: low',
 'PRODUCT_COMBINATION_Cash X-Sell: middle',
 'PRODUCT_COMBINATION_POS household with interest',
 'PRODUCT_COMBINATION_POS household without interest',
 'PRODUCT_COMBINATION_POS industry with interest',
 'PRODUCT_COMBINATION_POS industry without interest',
 'PRODUCT_COMBINATION_POS mobile with interest',
 'PRODUCT_COMBINATION_POS mobile without interest',
 'PRODUCT_COMBINATION_POS other with interest',
 'PRODUCT_COMBINATION_POS others without interest',
 'NFLAG_LAST_APPL_IN_DAY',
 'NFLAG_INSURED_ON_APPROVAL',
 'FLAG_LAST_APPL_PER_CONTRACT_N',
 'FLAG_LAST_APPL_PER_CONTRACT_Y',
 'MONTHS_BALANCE_x',
 'CNT_INSTALMENT',
 'CNT_INSTALMENT_FUTURE',
 'SK_DPD_x',
 'SK_DPD_DEF_x',
 'NAME_CONTRACT_STATUS_Active_x',
 'NAME_CONTRACT_STATUS_Amortized debt',
 'NAME_CONTRACT_STATUS_Approved_y',
 'NAME_CONTRACT_STATUS_Canceled_y',
 'NAME_CONTRACT_STATUS_Completed_x',
 'NAME_CONTRACT_STATUS_Demand_x',
 'NAME_CONTRACT_STATUS_Returned to the store',
 'NAME_CONTRACT_STATUS_Signed_x',
 'DAYS_INSTALMENT',
 'DAYS_ENTRY_PAYMENT',
 'AMT_INSTALMENT',
 'AMT_PAYMENT',
 'NUM_INSTALMENT_VERSION',
 'NUM_INSTALMENT_NUMBER',
 'MONTHS_BALANCE_y',
 'AMT_BALANCE',
 'AMT_CREDIT_LIMIT_ACTUAL',
 'AMT_DRAWINGS_ATM_CURRENT',
 'AMT_DRAWINGS_CURRENT',
 'AMT_DRAWINGS_OTHER_CURRENT',
 'AMT_DRAWINGS_POS_CURRENT',
 'AMT_INST_MIN_REGULARITY',
 'AMT_PAYMENT_CURRENT',
 'AMT_PAYMENT_TOTAL_CURRENT',
 'AMT_RECEIVABLE_PRINCIPAL',
 'AMT_RECIVABLE',
 'AMT_TOTAL_RECEIVABLE',
 'CNT_DRAWINGS_ATM_CURRENT',
 'CNT_DRAWINGS_CURRENT',
 'CNT_DRAWINGS_OTHER_CURRENT',
 'CNT_DRAWINGS_POS_CURRENT',
 'CNT_INSTALMENT_MATURE_CUM',
 'SK_DPD_y',
 'SK_DPD_DEF_y',
 'NAME_CONTRACT_STATUS_Active_y',
 'NAME_CONTRACT_STATUS_Approved',
 'NAME_CONTRACT_STATUS_Completed_y',
 'NAME_CONTRACT_STATUS_Demand_y',
 'NAME_CONTRACT_STATUS_Refused_y',
 'NAME_CONTRACT_STATUS_Sent proposal',
 'NAME_CONTRACT_STATUS_Signed_y',
 'DAYS_CREDIT',
 'CREDIT_DAY_OVERDUE',
 'DAYS_CREDIT_ENDDATE',
 'DAYS_ENDDATE_FACT',
 'AMT_CREDIT_MAX_OVERDUE',
 'CNT_CREDIT_PROLONG',
 'AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_DEBT',
 'AMT_CREDIT_SUM_LIMIT',
 'AMT_CREDIT_SUM_OVERDUE',
 'DAYS_CREDIT_UPDATE',
 'AMT_ANNUITY',
 'MONTHS_BALANCE',
 'CREDIT_ACTIVE_Active',
 'CREDIT_ACTIVE_Bad debt',
 'CREDIT_ACTIVE_Closed',
 'CREDIT_ACTIVE_Sold',
 'CREDIT_CURRENCY_currency 1',
 'CREDIT_CURRENCY_currency 2',
 'CREDIT_CURRENCY_currency 3',
 'CREDIT_CURRENCY_currency 4',
 'CREDIT_TYPE_Another type of loan',
 'CREDIT_TYPE_Car loan',
 'CREDIT_TYPE_Cash loan (non-earmarked)',
 'CREDIT_TYPE_Consumer credit',
 'CREDIT_TYPE_Credit card',
 'CREDIT_TYPE_Interbank credit',
 'CREDIT_TYPE_Loan for business development',
 'CREDIT_TYPE_Loan for purchase of shares (margin lending)',
 'CREDIT_TYPE_Loan for the purchase of equipment',
 'CREDIT_TYPE_Loan for working capital replenishment',
 'CREDIT_TYPE_Microloan',
 'CREDIT_TYPE_Mobile operator loan',
 'CREDIT_TYPE_Mortgage',
 'CREDIT_TYPE_Real estate loan',
 'CREDIT_TYPE_Unknown type of loan',
 'STATUS_0',
 'STATUS_1',
 'STATUS_2',
 'STATUS_3',
 'STATUS_4',
 'STATUS_5',
 'STATUS_C',
 'STATUS_X']

In [54]:
df_cat = app_test[cat_features]

In [55]:
df_cat.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE
0,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Married,House / apartment,NaN,TUESDAY,Kindergarten,NaN,block of flats,"Stone, brick",No
1,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Low-skill Laborers,FRIDAY,Self-employed,NaN,NaN,NaN,NaN
2,Cash loans,M,Y,Y,NaN,Working,Higher education,Married,House / apartment,Drivers,MONDAY,Transport: type 3,NaN,NaN,NaN,NaN
3,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Sales staff,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
4,Cash loans,M,Y,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,NaN,FRIDAY,Business Entity Type 3,NaN,NaN,NaN,NaN

In [56]:
df_cat['SK_ID_CURR'] = app_test['SK_ID_CURR']

In [57]:
df_cat

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,SK_ID_CURR
0,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Married,House / apartment,NaN,TUESDAY,Kindergarten,NaN,block of flats,"Stone, brick",No,100001
1,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Low-skill Laborers,FRIDAY,Self-employed,NaN,NaN,NaN,NaN,100005
2,Cash loans,M,Y,Y,NaN,Working,Higher education,Married,House / apartment,Drivers,MONDAY,Transport: type 3,NaN,NaN,NaN,NaN,100013
3,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Sales staff,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,100028
4,Cash loans,M,Y,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,NaN,FRIDAY,Business Entity Type 3,NaN,NaN,NaN,NaN,100038
5,Cash loans,F,Y,Y,Unaccompanied,State servant,Secondary / secondary special,Married,House / apartment,Drivers,MONDAY,Government,not specified,block of flats,Block,No,100042
6,Cash loans,M,Y,Y,Unaccompanied,Working,Higher education,Married,House / apartment,High skill tech staff,THURSDAY,Industry: type 9,NaN,NaN,NaN,NaN,100057
7,Cash loans,M,N,Y,Unaccompanied,Working,Higher education,Single / not married,With parents,Core staff,FRIDAY,Self-employed,NaN,NaN,NaN,NaN,100065
8,Cash loans,F,N,Y,Unaccompanied,State servant,Higher education,Married,House / apartment,Core staff,THURSDAY,School,NaN,block of flats,"Stone, brick",No,100066
9,Cash loans,F,Y,Y,Family,Working,Higher education,Civil marriage,House / apartment,Sales staff,TUESDAY,Trade: type 2,NaN,NaN,NaN,NaN,100067
10,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,NaN,TUESDAY,NaN,NaN,block of flats,"Stone, brick",No,100074
11,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment,Laborers,FRIDAY,Self-employed,NaN,NaN,NaN,NaN,100090
12,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,NaN,THURSDAY,Self-employed,NaN,NaN,NaN,NaN,100091
13,Cash loans,F,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Core staff,TUESDAY,Government,NaN,NaN,NaN,NaN,100092
14,Revolving loans,M,N,Y,"Spouse, partner",Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,TUESDAY,Business Entity Type 3,NaN,NaN,NaN,NaN,100106
15,Cash loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No,100107
16,Cash loans,F,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,SATURDAY,Services,NaN,NaN,NaN,NaN,100109
17,Cash loans,M,Y,Y,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,NaN,FRIDAY,NaN,NaN,NaN,NaN,NaN,100117
18,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Higher education,Civil marriage,With parents,Managers,THURSDAY,Bank,reg oper account,block of flats,Panel,No,100128
19,Cash loans,F,Y,Y,Family,Working,Secondary / secondary special,Married,House / apartment,Laborers,TUESDAY,Industry: type 3,NaN,NaN,NaN,NaN,100141
20,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,Sales staff,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,100150
21,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Widow,House / apartment,NaN,TUESDAY,Other,NaN,block of flats,"Stone, brick",No,100168
22,Cash loans,F,N,Y,Family,Pensioner,Higher education,Separated,House / apartment,NaN,TUESDAY,NaN,reg oper account,block of flats,Panel,No,100169
23,Cash loans,M,N,Y,Unaccompanied,Commercial associate,Incomplete higher,Married,House / apartment,Laborers,TUESDAY,Business Entity Type 3,NaN,block of flats,Panel,No,100170
24,Cash loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Drivers,WEDNESDAY,Business Entity Type 3,NaN,NaN,NaN,NaN,100171
25,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,TUESDAY,Business Entity Type 3,NaN,NaN,NaN,NaN,100172
26,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,NaN,THURSDAY,NaN,reg oper account,block of flats,"Stone, brick",No,100184
27,Cash loans,F,N,Y,Family,Commercial associate,Higher education,Married,House / apartment,NaN,THURSDAY,Self-employed,NaN,block of flats,"Stone, brick",No,100187
28,Cash loans,F,Y,N,Unaccompanied,Working,Lower secondary,Married,House / apartment,Core staff,MONDAY,Self-employed,NaN,NaN,NaN,NaN,100212
29,Cash loans,F,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,NaN,WEDNESDAY,Self-employed,NaN,NaN,NaN,NaN,100222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48714,Cash loans,F,N,N,Unaccompanied,Working,Higher education,Single / not married,Office apartment,Managers,TUESDAY,Kindergarten,NaN,NaN,NaN,No,455963
48715,Cash loans,M,Y,Y,Family,Working,Secondary / secondary special,Married,House / apartment,Managers,THURSDAY,Other,NaN,NaN,NaN,NaN,455965
48716,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Drivers,MONDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No,456007
48717,Cash loans,F,N,Y,Family,Pensioner,Secondary / secondary special,Married,House / apartment,NaN,TUESDAY,NaN,NaN,NaN,NaN,NaN,456008
48718,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,NaN,TUESDAY,Self-employed,reg oper account,block of flats,Monolithic,No,456009
48719,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Sales staff,WEDNESDAY,Self-employed,reg oper account,block of flats,Panel,No,456010
48720,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Sales staff,TUESDAY,Business Entity Type 3,NaN,block of flats,"Stone, brick",No,456011
48721,Cash loans,F,N,Y,Family,Working,Incomplete higher,Married,House / apartment,Cooking staff,TUESDAY,Hotel,NaN,NaN,NaN,NaN,456013
48722,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Drivers,SUNDAY,Self-employed,NaN,NaN,NaN,NaN,456028
48723,Cash loans,F,N,N,Unaccompanied,Working,Higher education,Married,House / apartment,NaN,WEDNESDAY,Government,NaN,NaN,NaN,NaN,456058
48724,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,MONDAY,Business Entity Type 3,reg oper spec account,block of flats,"Stone, brick",No,456111
48725,Cash loans,F,N,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Cleaning staff,THURSDAY,Business Entity Type 3,NaN,NaN,NaN,NaN,456114
48726,Cash loans,M,N,Y,Unaccompanied,State servant,Secondary / secondary special,Married,House / apartment,Core staff,SATURDAY,Military,NaN,NaN,NaN,NaN,456115
48727,Cash loans,F,N,N,Unaccompanied,Working,Higher education,Civil marriage,House / apartment,High skill tech staff,WEDNESDAY,Medicine,reg oper account,block of flats,Panel,No,456116
48728,Cash loans,F,N,Y,Unaccompanied,Pensioner,Higher education,Separated,House / apartment,NaN,FRIDAY,NaN,NaN,NaN,NaN,NaN,456119
48729,Cash loans,F,N,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Sales staff,TUESDAY,Business Entity Type 3,NaN,NaN,NaN,NaN,456120
48730,Cash loans,M,Y,N,Unaccompanied,Working,Incomplete higher,Married,House / apartment,Laborers,MONDAY,Self-employed,NaN,NaN,NaN,NaN,456122
48731,Cash loans,F,Y,Y,NaN,Pensioner,Higher education,Married,House / apartment,NaN,MONDAY,NaN,reg oper account,block of flats,"Stone, brick",No,456123
48732,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Civil marriage,House / apartment,Sales staff,WEDNESDAY,Business Entity Type 3,NaN,block of flats,"Stone, brick",No,456166
48733,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Sales staff,TUESDAY,Other,NaN,block of flats,NaN,No,456167
48734,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,THURSDAY,Business Entity Type 2,NaN,NaN,NaN,NaN,456168
48735,Cash loans,F,N,N,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,NaN,SATURDAY,NaN,reg oper account,block of flats,Block,No,456169
48736,Cash loans,F,Y,Y,Children,Pensioner,Secondary / secondary special,Single / not married,House / apartment,NaN,WEDNESDAY,NaN,reg oper account,block of flats,Panel,No,456170
48737,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Separated,Rented apartment,Security staff,SUNDAY,Business Entity Type 3,NaN,block of flats,"Stone, brick",No,456189
48738,Cash loans,F,Y,N,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,NaN,TUESDAY,Self-employed,NaN,NaN,NaN,No,456202
48739,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment,NaN,WEDNESDAY,Other,NaN,NaN,NaN,NaN,456221
48740,Cash loans,F,N,N,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Sales staff,MONDAY,Trade: type 7,NaN,NaN,NaN,NaN,456222
48741,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,NaN,WEDNESDAY,Business Entity Type 3,NaN,block of flats,"Stone, brick",No,456223
48742,Cash loans,M,N,N,Family,Commercial associate,Higher education,Married,House / apartment,Managers,MONDAY,Self-employed,NaN,block of flats,Panel,No,456224
48743,Cash loans,F,Y,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Core staff,TUESDAY,Government,NaN,NaN,NaN,NaN,456250

In [58]:
df_num = app_test[num_features]

In [59]:
df_num

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241,-2329,-5170.0,...,0.0,0.0,31.0,1.0,0.0,0.0,0.0,0.0,110.0,30.0
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064,-4469,-9118.0,...,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038,-4458,-2175.0,...,0.0,0.0,79.0,7.0,0.0,0.0,0.0,0.0,103.0,41.0
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976,-1866,-2000.0,...,0.0,0.0,164.0,0.0,0.0,0.0,0.0,0.0,263.0,133.0
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010032,-13040,-2191,-4000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,100042,0,270000.0,959688.0,34600.5,810000.0,0.025164,-18604,-12009,-6116.0,...,0.0,0.0,190.0,7.0,1.0,0.0,0.0,0.0,246.0,171.0
6,100057,2,180000.0,499221.0,22117.5,373500.0,0.022800,-16685,-2580,-10125.0,...,0.0,0.0,71.0,0.0,0.0,0.0,0.0,0.0,229.0,67.0
7,100065,0,166500.0,180000.0,14220.0,180000.0,0.005144,-9516,-1387,-5063.0,...,0.0,0.0,48.0,0.0,0.0,0.0,0.0,0.0,170.0,92.0
8,100066,0,315000.0,364896.0,28957.5,315000.0,0.046220,-12744,-1013,-1686.0,...,0.0,0.0,12.0,1.0,0.0,0.0,0.0,0.0,23.0,20.0
9,100067,1,162000.0,45000.0,5337.0,45000.0,0.018634,-10395,-2625,-8124.0,...,0.0,0.0,119.0,1.0,0.0,0.0,0.0,0.0,77.0,134.0
10,100074,0,67500.0,675000.0,25447.5,675000.0,0.003122,-23670,365243,-7490.0,...,0.0,0.0,40.0,3.0,0.0,0.0,0.0,0.0,103.0,0.0
11,100090,0,135000.0,261621.0,16848.0,216000.0,0.008019,-15524,-3555,-7833.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
12,100091,0,247500.0,296280.0,23539.5,225000.0,0.018634,-12278,-929,-6031.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,59.0
13,100092,0,90000.0,360000.0,18535.5,360000.0,0.014520,-19687,-3578,-10673.0,...,0.0,0.0,112.0,19.0,0.0,0.0,0.0,0.0,205.0,182.0
14,100106,0,180000.0,157500.0,7875.0,157500.0,0.031329,-12091,-1830,-1042.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,9.0
15,100107,0,180000.0,296280.0,21690.0,225000.0,0.032561,-13563,-1007,-5719.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,100109,0,202500.0,407520.0,26041.5,360000.0,0.007020,-19375,-4739,-3035.0,...,0.0,0.0,51.0,1.0,0.0,0.0,0.0,0.0,313.0,137.0
17,100117,0,90000.0,499221.0,22117.5,373500.0,0.003122,-22705,365243,-5107.0,...,0.0,0.0,52.0,0.0,0.0,0.0,0.0,0.0,111.0,155.0
18,100128,1,225000.0,431280.0,23526.0,360000.0,0.025164,-10962,-1883,-99.0,...,0.0,0.0,221.0,12.0,2.0,1.0,0.0,0.0,783.0,143.0
19,100141,0,175500.0,478498.5,46741.5,454500.0,0.010147,-17955,-305,-10087.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,100150,0,99000.0,225000.0,19242.0,225000.0,0.007274,-10507,-2780,-5072.0,...,0.0,0.0,19.0,2.0,0.0,0.0,0.0,0.0,258.0,14.0
21,100168,0,157500.0,266652.0,16443.0,202500.0,0.011657,-22557,-13294,-13154.0,...,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,26.0,3.0
22,100169,0,135000.0,540000.0,27702.0,540000.0,0.072508,-22784,365243,-5103.0,...,0.0,0.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0
23,100170,1,337500.0,1313212.5,42493.5,1012500.0,0.024610,-11948,-1415,-5611.0,...,0.0,0.0,245.0,4.0,0.0,0.0,0.0,0.0,76.0,16.0
24,100171,0,157500.0,539100.0,29245.5,450000.0,0.031329,-13172,-3518,-6207.0,...,0.0,0.0,152.0,4.0,0.0,0.0,0.0,0.0,232.0,15.0
25,100172,0,76500.0,225000.0,12334.5,225000.0,0.010966,-15394,-967,-5389.0,...,0.0,0.0,32.0,0.0,0.0,0.0,0.0,0.0,13.0,14.0
26,100184,0,112500.0,256032.0,10759.5,180000.0,0.019689,-21150,365243,-4157.0,...,0.0,0.0,82.0,0.0,0.0,0.0,0.0,0.0,87.0,29.0
27,100187,0,225000.0,501363.0,25726.5,418500.0,0.031329,-21040,-2467,-918.0,...,0.0,0.0,23.0,0.0,0.0,0.0,0.0,0.0,46.0,11.0
28,100212,0,90000.0,450000.0,23107.5,450000.0,0.005002,-15773,-1310,-7173.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,100222,0,360000.0,945000.0,34074.0,945000.0,0.030755,-17796,-2785,-2296.0,...,0.0,0.0,156.0,9.0,0.0,0.0,0.0,0.0,355.0,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48714,455963,1,360000.0,547272.0,43366.5,495000.0,0.020713,-11987,-1745,-207.0,...,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,14.0,5.0
48715,455965,0,315000.0,900000.0,57519.0,900000.0,0.035792,-17293,-4836,-7779.0,...,0.0,0.0,86.0,3.0,0.0,0.0,0.0,0.0,42.0,8.0
48716,456007,0,135000.0,318645.0,16398.0,216000.0,0.008230,-12607,-2283,-6533.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48717,456008,0,81000.0,180000.0,13455.0,180000.0,0.030755,-23732,365243,-11095.0,...,0.0,0.0,31.0,0.0,0.0,0.0,0.0,0.0,121.0,60.0
48718,456009,0,225000.0,360000.0,19530.0,360000.0,0.035792,-14237,-4931,-381.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
48719,456010,1,112500.0,690313.5,35374.5,549000.0,0.010032,-10667,-1979,-2973.0,...,0.0,0.0,12.0,1.0,0.0,0.0,0.0,0.0,141.0,32.0
48720,456011,1,171000.0,323460.0,23134.5,270000.0,0.024610,-12970,-305,-7021.0,...,0.0,0.0,89.0,1.0,0.0,0.0,0.0,0.0,214.0,2.0
48721,456013,1,130500.0,468333.0,37129.5,382500.0,0.035792,-8082,-1309,-2785.0,...,0.0,0.0,8.0,4.0,0.0,0.0,0.0,0.0,4.0,1.0
48722,456028,0,220500.0,166500.0,13284.0,166500.0,0.018209,-16506,-1310,-8924.0,...,0.0,0.0,89.0,0.0,0.0,0.0,0.0,0.0,104.0,15.0
48723,456058,1,67500.0,315000.0,16213.5,315000.0,0.011703,-15051,-2819,-3481.0,...,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0
48724,456111,1,112500.0,514710.0,17707.5,387000.0,0.020246,-15847,-2191,-5194.0,...,0.0,0.0,134.0,5.0,2.0,1.0,1.0,11.0,208.0,7.0
48725,456114,0,45000.0,450000.0,24543.0,450000.0,0.020713,-20464,-3727,-7668.0,...,0.0,0.0,74.0,1.0,0.0,0.0,0.0,0.0,258.0,91.0
48726,456115,1,225000.0,1002339.0,37917.0,846000.0,0.006305,-16710,-2196,-8897.0,...,0.0,0.0,97.0,4.0,1.0,0.0,0.0,0.0,250.0,62.0
48727,456116,1,180000.0,149256.0,15291.0,135000.0,0.018029,-15884,-6551,-1702.0,...,0.0,0.0,23.0,0.0,0.0,0.0,0.0,0.0,25.0,43.0
48728,456119,0,247500.0,685386.0,38398.5,585000.0,0.025164,-20898,365243,-8309.0,...,0.0,0.0,27.0,1.0,0.0,0.0,0.0,0.0,0.0,149.0
48729,456120,2,81000.0,135000.0,16020.0,135000.0,0.008230,-13165,-1564,-5706.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48730,456122,2,157500.0,445095.0,40824.0,405000.0,0.016612,-16019,-3759,-9385.0,...,0.0,0.0,27.0,3.0,0.0,0.0,0.0,0.0,47.0,4.0
48731,456123,0,112500.0,450000.0,28890.0,450000.0,0.015221,-20536,365243,-9495.0,...,0.0,0.0,51.0,6.0,0.0,0.0,0.0,0.0,164.0,38.0
48732,456166,0,189000.0,479700.0,54382.5,450000.0,0.018634,-17716,-1896,-6378.0,...,0.0,0.0,19.0,5.0,0.0,0.0,0.0,0.0,144.0,10.0
48733,456167,0,135000.0,1047771.0,37764.0,904500.0,0.035792,-20003,-3684,-9657.0,...,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0,30.0,51.0
48734,456168,0,135000.0,835686.0,46660.5,765000.0,0.025164,-11387,-846,-9379.0,...,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,41.0,3.0
48735,456169,0,85500.0,109008.0,7411.5,90000.0,0.024610,-22995,365243,-12088.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48736,456170,0,157500.0,500490.0,48888.0,450000.0,0.006671,-21780,365243,-10745.0,...,0.0,0.0,99.0,0.0,0.0,0.0,0.0,0.0,36.0,4.0
48737,456189,0,270000.0,360000.0,28570.5,360000.0,0.026392,-19397,-119,-4386.0,...,0.0,0.0,67.0,3.0,0.0,0.0,0.0,0.0,206.0,36.0
48738,456202,3,135000.0,252022.5,23112.0,217561.5,0.009175,-11708,-369,-174.0,...,0.0,0.0,16.0,1.0,0.0,0.0,0.0,0.0,14.0,54.0
48739,456221,0,121500.0,412560.0,17473.5,270000.0,0.002042,-19970,-5169,-9094.0,...,0.0,0.0,65.0,9.0,0.0,0.0,0.0,0.0,46.0,1.0
48740,456222,2,157500.0,622413.0,31909.5,495000.0,0.035792,-11186,-1149,-3015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48741,456223,1,202500.0,315000.0,33205.5,315000.0,0.026392,-15922,-3037,-2681.0,...,0.0,0.0,30.0,1.0,0.0,0.0,0.0,0.0,57.0,4.0
48742,456224,0,225000.0,450000.0,25128.0,450000.0,0.018850,-13968,-2731,-1461.0,...,0.0,0.0,207.0,16.0,1.0,1.0,1.0,13.0,552.0,198.0
48743,456250,0,135000.0,312768.0,24709.5,270000.0,0.006629,-13962,-633,-1072.0,...,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,25.0,50.0

In [60]:
from sklearn.impute import SimpleImputer

# Most frequently occuring values imputation of missing categorical values
imputer_cat = SimpleImputer(strategy = 'most_frequent')

# Fit on the test data
imputer_cat.fit(df_cat)

# Transform testing data
test_cat = imputer_cat.transform(df_cat)

print('Testing data shape: ', test_cat.shape)

Testing data shape:  (48744, 17)

In [61]:
# Median values imputation of missing numerical values
imputer_num = SimpleImputer(strategy = 'median')

# Fit on the test data
imputer_num.fit(df_num)

# Transform testing data
test_num = imputer_num.transform(df_num)

print('Testing data shape: ', test_num.shape)

Testing data shape:  (48744, 345)

In [62]:
cat_features.append('SK_ID_CURR')

In [63]:
test_cat_df= pd.DataFrame(data = test_cat, columns = cat_features)

In [64]:
test_cat_df

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,SK_ID_CURR
0,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Married,House / apartment,Laborers,TUESDAY,Kindergarten,reg oper account,block of flats,"Stone, brick",No,100001
1,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Low-skill Laborers,FRIDAY,Self-employed,reg oper account,block of flats,Panel,No,100005
2,Cash loans,M,Y,Y,Unaccompanied,Working,Higher education,Married,House / apartment,Drivers,MONDAY,Transport: type 3,reg oper account,block of flats,Panel,No,100013
3,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Sales staff,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,100028
4,Cash loans,M,Y,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,FRIDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,100038
5,Cash loans,F,Y,Y,Unaccompanied,State servant,Secondary / secondary special,Married,House / apartment,Drivers,MONDAY,Government,not specified,block of flats,Block,No,100042
6,Cash loans,M,Y,Y,Unaccompanied,Working,Higher education,Married,House / apartment,High skill tech staff,THURSDAY,Industry: type 9,reg oper account,block of flats,Panel,No,100057
7,Cash loans,M,N,Y,Unaccompanied,Working,Higher education,Single / not married,With parents,Core staff,FRIDAY,Self-employed,reg oper account,block of flats,Panel,No,100065
8,Cash loans,F,N,Y,Unaccompanied,State servant,Higher education,Married,House / apartment,Core staff,THURSDAY,School,reg oper account,block of flats,"Stone, brick",No,100066
9,Cash loans,F,Y,Y,Family,Working,Higher education,Civil marriage,House / apartment,Sales staff,TUESDAY,Trade: type 2,reg oper account,block of flats,Panel,No,100067
10,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No,100074
11,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment,Laborers,FRIDAY,Self-employed,reg oper account,block of flats,Panel,No,100090
12,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,THURSDAY,Self-employed,reg oper account,block of flats,Panel,No,100091
13,Cash loans,F,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Core staff,TUESDAY,Government,reg oper account,block of flats,Panel,No,100092
14,Revolving loans,M,N,Y,"Spouse, partner",Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,100106
15,Cash loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No,100107
16,Cash loans,F,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,SATURDAY,Services,reg oper account,block of flats,Panel,No,100109
17,Cash loans,M,Y,Y,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,Laborers,FRIDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,100117
18,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Higher education,Civil marriage,With parents,Managers,THURSDAY,Bank,reg oper account,block of flats,Panel,No,100128
19,Cash loans,F,Y,Y,Family,Working,Secondary / secondary special,Married,House / apartment,Laborers,TUESDAY,Industry: type 3,reg oper account,block of flats,Panel,No,100141
20,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,Sales staff,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,100150
21,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Widow,House / apartment,Laborers,TUESDAY,Other,reg oper account,block of flats,"Stone, brick",No,100168
22,Cash loans,F,N,Y,Family,Pensioner,Higher education,Separated,House / apartment,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,100169
23,Cash loans,M,N,Y,Unaccompanied,Commercial associate,Incomplete higher,Married,House / apartment,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,100170
24,Cash loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Drivers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,100171
25,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,100172
26,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,Laborers,THURSDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No,100184
27,Cash loans,F,N,Y,Family,Commercial associate,Higher education,Married,House / apartment,Laborers,THURSDAY,Self-employed,reg oper account,block of flats,"Stone, brick",No,100187
28,Cash loans,F,Y,N,Unaccompanied,Working,Lower secondary,Married,House / apartment,Core staff,MONDAY,Self-employed,reg oper account,block of flats,Panel,No,100212
29,Cash loans,F,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,WEDNESDAY,Self-employed,reg oper account,block of flats,Panel,No,100222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48714,Cash loans,F,N,N,Unaccompanied,Working,Higher education,Single / not married,Office apartment,Managers,TUESDAY,Kindergarten,reg oper account,block of flats,Panel,No,455963
48715,Cash loans,M,Y,Y,Family,Working,Secondary / secondary special,Married,House / apartment,Managers,THURSDAY,Other,reg oper account,block of flats,Panel,No,455965
48716,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Drivers,MONDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No,456007
48717,Cash loans,F,N,Y,Family,Pensioner,Secondary / secondary special,Married,House / apartment,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,456008
48718,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,TUESDAY,Self-employed,reg oper account,block of flats,Monolithic,No,456009
48719,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Sales staff,WEDNESDAY,Self-employed,reg oper account,block of flats,Panel,No,456010
48720,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Sales staff,TUESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No,456011
48721,Cash loans,F,N,Y,Family,Working,Incomplete higher,Married,House / apartment,Cooking staff,TUESDAY,Hotel,reg oper account,block of flats,Panel,No,456013
48722,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Drivers,SUNDAY,Self-employed,reg oper account,block of flats,Panel,No,456028
48723,Cash loans,F,N,N,Unaccompanied,Working,Higher education,Married,House / apartment,Laborers,WEDNESDAY,Government,reg oper account,block of flats,Panel,No,456058
48724,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,MONDAY,Business Entity Type 3,reg oper spec account,block of flats,"Stone, brick",No,456111
48725,Cash loans,F,N,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Cleaning staff,THURSDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,456114
48726,Cash loans,M,N,Y,Unaccompanied,State servant,Secondary / secondary special,Married,House / apartment,Core staff,SATURDAY,Military,reg oper account,block of flats,Panel,No,456115
48727,Cash loans,F,N,N,Unaccompanied,Working,Higher education,Civil marriage,House / apartment,High skill tech staff,WEDNESDAY,Medicine,reg oper account,block of flats,Panel,No,456116
48728,Cash loans,F,N,Y,Unaccompanied,Pensioner,Higher education,Separated,House / apartment,Laborers,FRIDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,456119
48729,Cash loans,F,N,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Sales staff,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,456120
48730,Cash loans,M,Y,N,Unaccompanied,Working,Incomplete higher,Married,House / apartment,Laborers,MONDAY,Self-employed,reg oper account,block of flats,Panel,No,456122
48731,Cash loans,F,Y,Y,Unaccompanied,Pensioner,Higher education,Married,House / apartment,Laborers,MONDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No,456123
48732,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Civil marriage,House / apartment,Sales staff,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No,456166
48733,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Sales staff,TUESDAY,Other,reg oper account,block of flats,Panel,No,456167
48734,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,THURSDAY,Business Entity Type 2,reg oper account,block of flats,Panel,No,456168
48735,Cash loans,F,N,N,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,Laborers,SATURDAY,Business Entity Type 3,reg oper account,block of flats,Block,No,456169
48736,Cash loans,F,Y,Y,Children,Pensioner,Secondary / secondary special,Single / not married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,456170
48737,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Separated,Rented apartment,Security staff,SUNDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No,456189
48738,Cash loans,F,Y,N,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,TUESDAY,Self-employed,reg oper account,block of flats,Panel,No,456202
48739,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment,Laborers,WEDNESDAY,Other,reg oper account,block of flats,Panel,No,456221
48740,Cash loans,F,N,N,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Sales staff,MONDAY,Trade: type 7,reg oper account,block of flats,Panel,No,456222
48741,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No,456223
48742,Cash loans,M,N,N,Family,Commercial associate,Higher education,Married,House / apartment,Managers,MONDAY,Self-employed,reg oper account,block of flats,Panel,No,456224
48743,Cash loans,F,Y,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Core staff,TUESDAY,Government,reg oper account,block of flats,Panel,No,456250

In [65]:
test_num_df= pd.DataFrame(data = test_num, columns = num_features)

In [66]:
test_num_df

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
0,100001.0,0.0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241.0,-2329.0,-5170.0,...,0.0,0.0,31.0,1.0,0.0,0.0,0.0,0.0,110.0,30.0
1,100005.0,0.0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064.0,-4469.0,-9118.0,...,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0
2,100013.0,0.0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038.0,-4458.0,-2175.0,...,0.0,0.0,79.0,7.0,0.0,0.0,0.0,0.0,103.0,41.0
3,100028.0,2.0,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976.0,-1866.0,-2000.0,...,0.0,0.0,164.0,0.0,0.0,0.0,0.0,0.0,263.0,133.0
4,100038.0,1.0,180000.0,625500.0,32067.0,625500.0,0.010032,-13040.0,-2191.0,-4000.0,...,0.0,0.0,44.0,0.0,0.0,0.0,0.0,0.0,66.0,27.0
5,100042.0,0.0,270000.0,959688.0,34600.5,810000.0,0.025164,-18604.0,-12009.0,-6116.0,...,0.0,0.0,190.0,7.0,1.0,0.0,0.0,0.0,246.0,171.0
6,100057.0,2.0,180000.0,499221.0,22117.5,373500.0,0.022800,-16685.0,-2580.0,-10125.0,...,0.0,0.0,71.0,0.0,0.0,0.0,0.0,0.0,229.0,67.0
7,100065.0,0.0,166500.0,180000.0,14220.0,180000.0,0.005144,-9516.0,-1387.0,-5063.0,...,0.0,0.0,48.0,0.0,0.0,0.0,0.0,0.0,170.0,92.0
8,100066.0,0.0,315000.0,364896.0,28957.5,315000.0,0.046220,-12744.0,-1013.0,-1686.0,...,0.0,0.0,12.0,1.0,0.0,0.0,0.0,0.0,23.0,20.0
9,100067.0,1.0,162000.0,45000.0,5337.0,45000.0,0.018634,-10395.0,-2625.0,-8124.0,...,0.0,0.0,119.0,1.0,0.0,0.0,0.0,0.0,77.0,134.0
10,100074.0,0.0,67500.0,675000.0,25447.5,675000.0,0.003122,-23670.0,365243.0,-7490.0,...,0.0,0.0,40.0,3.0,0.0,0.0,0.0,0.0,103.0,0.0
11,100090.0,0.0,135000.0,261621.0,16848.0,216000.0,0.008019,-15524.0,-3555.0,-7833.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
12,100091.0,0.0,247500.0,296280.0,23539.5,225000.0,0.018634,-12278.0,-929.0,-6031.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,59.0
13,100092.0,0.0,90000.0,360000.0,18535.5,360000.0,0.014520,-19687.0,-3578.0,-10673.0,...,0.0,0.0,112.0,19.0,0.0,0.0,0.0,0.0,205.0,182.0
14,100106.0,0.0,180000.0,157500.0,7875.0,157500.0,0.031329,-12091.0,-1830.0,-1042.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,9.0
15,100107.0,0.0,180000.0,296280.0,21690.0,225000.0,0.032561,-13563.0,-1007.0,-5719.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,100109.0,0.0,202500.0,407520.0,26041.5,360000.0,0.007020,-19375.0,-4739.0,-3035.0,...,0.0,0.0,51.0,1.0,0.0,0.0,0.0,0.0,313.0,137.0
17,100117.0,0.0,90000.0,499221.0,22117.5,373500.0,0.003122,-22705.0,365243.0,-5107.0,...,0.0,0.0,52.0,0.0,0.0,0.0,0.0,0.0,111.0,155.0
18,100128.0,1.0,225000.0,431280.0,23526.0,360000.0,0.025164,-10962.0,-1883.0,-99.0,...,0.0,0.0,221.0,12.0,2.0,1.0,0.0,0.0,783.0,143.0
19,100141.0,0.0,175500.0,478498.5,46741.5,454500.0,0.010147,-17955.0,-305.0,-10087.0,...,0.0,0.0,44.0,0.0,0.0,0.0,0.0,0.0,66.0,27.0
20,100150.0,0.0,99000.0,225000.0,19242.0,225000.0,0.007274,-10507.0,-2780.0,-5072.0,...,0.0,0.0,19.0,2.0,0.0,0.0,0.0,0.0,258.0,14.0
21,100168.0,0.0,157500.0,266652.0,16443.0,202500.0,0.011657,-22557.0,-13294.0,-13154.0,...,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,26.0,3.0
22,100169.0,0.0,135000.0,540000.0,27702.0,540000.0,0.072508,-22784.0,365243.0,-5103.0,...,0.0,0.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0
23,100170.0,1.0,337500.0,1313212.5,42493.5,1012500.0,0.024610,-11948.0,-1415.0,-5611.0,...,0.0,0.0,245.0,4.0,0.0,0.0,0.0,0.0,76.0,16.0
24,100171.0,0.0,157500.0,539100.0,29245.5,450000.0,0.031329,-13172.0,-3518.0,-6207.0,...,0.0,0.0,152.0,4.0,0.0,0.0,0.0,0.0,232.0,15.0
25,100172.0,0.0,76500.0,225000.0,12334.5,225000.0,0.010966,-15394.0,-967.0,-5389.0,...,0.0,0.0,32.0,0.0,0.0,0.0,0.0,0.0,13.0,14.0
26,100184.0,0.0,112500.0,256032.0,10759.5,180000.0,0.019689,-21150.0,365243.0,-4157.0,...,0.0,0.0,82.0,0.0,0.0,0.0,0.0,0.0,87.0,29.0
27,100187.0,0.0,225000.0,501363.0,25726.5,418500.0,0.031329,-21040.0,-2467.0,-918.0,...,0.0,0.0,23.0,0.0,0.0,0.0,0.0,0.0,46.0,11.0
28,100212.0,0.0,90000.0,450000.0,23107.5,450000.0,0.005002,-15773.0,-1310.0,-7173.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,100222.0,0.0,360000.0,945000.0,34074.0,945000.0,0.030755,-17796.0,-2785.0,-2296.0,...,0.0,0.0,156.0,9.0,0.0,0.0,0.0,0.0,355.0,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48714,455963.0,1.0,360000.0,547272.0,43366.5,495000.0,0.020713,-11987.0,-1745.0,-207.0,...,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,14.0,5.0
48715,455965.0,0.0,315000.0,900000.0,57519.0,900000.0,0.035792,-17293.0,-4836.0,-7779.0,...,0.0,0.0,86.0,3.0,0.0,0.0,0.0,0.0,42.0,8.0
48716,456007.0,0.0,135000.0,318645.0,16398.0,216000.0,0.008230,-12607.0,-2283.0,-6533.0,...,0.0,0.0,44.0,0.0,0.0,0.0,0.0,0.0,66.0,27.0
48717,456008.0,0.0,81000.0,180000.0,13455.0,180000.0,0.030755,-23732.0,365243.0,-11095.0,...,0.0,0.0,31.0,0.0,0.0,0.0,0.0,0.0,121.0,60.0
48718,456009.0,0.0,225000.0,360000.0,19530.0,360000.0,0.035792,-14237.0,-4931.0,-381.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
48719,456010.0,1.0,112500.0,690313.5,35374.5,549000.0,0.010032,-10667.0,-1979.0,-2973.0,...,0.0,0.0,12.0,1.0,0.0,0.0,0.0,0.0,141.0,32.0
48720,456011.0,1.0,171000.0,323460.0,23134.5,270000.0,0.024610,-12970.0,-305.0,-7021.0,...,0.0,0.0,89.0,1.0,0.0,0.0,0.0,0.0,214.0,2.0
48721,456013.0,1.0,130500.0,468333.0,37129.5,382500.0,0.035792,-8082.0,-1309.0,-2785.0,...,0.0,0.0,8.0,4.0,0.0,0.0,0.0,0.0,4.0,1.0
48722,456028.0,0.0,220500.0,166500.0,13284.0,166500.0,0.018209,-16506.0,-1310.0,-8924.0,...,0.0,0.0,89.0,0.0,0.0,0.0,0.0,0.0,104.0,15.0
48723,456058.0,1.0,67500.0,315000.0,16213.5,315000.0,0.011703,-15051.0,-2819.0,-3481.0,...,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0
48724,456111.0,1.0,112500.0,514710.0,17707.5,387000.0,0.020246,-15847.0,-2191.0,-5194.0,...,0.0,0.0,134.0,5.0,2.0,1.0,1.0,11.0,208.0,7.0
48725,456114.0,0.0,45000.0,450000.0,24543.0,450000.0,0.020713,-20464.0,-3727.0,-7668.0,...,0.0,0.0,74.0,1.0,0.0,0.0,0.0,0.0,258.0,91.0
48726,456115.0,1.0,225000.0,1002339.0,37917.0,846000.0,0.006305,-16710.0,-2196.0,-8897.0,...,0.0,0.0,97.0,4.0,1.0,0.0,0.0,0.0,250.0,62.0
48727,456116.0,1.0,180000.0,149256.0,15291.0,135000.0,0.018029,-15884.0,-6551.0,-1702.0,...,0.0,0.0,23.0,0.0,0.0,0.0,0.0,0.0,25.0,43.0
48728,456119.0,0.0,247500.0,685386.0,38398.5,585000.0,0.025164,-20898.0,365243.0,-8309.0,...,0.0,0.0,27.0,1.0,0.0,0.0,0.0,0.0,0.0,149.0
48729,456120.0,2.0,81000.0,135000.0,16020.0,135000.0,0.008230,-13165.0,-1564.0,-5706.0,...,0.0,0.0,44.0,0.0,0.0,0.0,0.0,0.0,66.0,27.0
48730,456122.0,2.0,157500.0,445095.0,40824.0,405000.0,0.016612,-16019.0,-3759.0,-9385.0,...,0.0,0.0,27.0,3.0,0.0,0.0,0.0,0.0,47.0,4.0
48731,456123.0,0.0,112500.0,450000.0,28890.0,450000.0,0.015221,-20536.0,365243.0,-9495.0,...,0.0,0.0,51.0,6.0,0.0,0.0,0.0,0.0,164.0,38.0
48732,456166.0,0.0,189000.0,479700.0,54382.5,450000.0,0.018634,-17716.0,-1896.0,-6378.0,...,0.0,0.0,19.0,5.0,0.0,0.0,0.0,0.0,144.0,10.0
48733,456167.0,0.0,135000.0,1047771.0,37764.0,904500.0,0.035792,-20003.0,-3684.0,-9657.0,...,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0,30.0,51.0
48734,456168.0,0.0,135000.0,835686.0,46660.5,765000.0,0.025164,-11387.0,-846.0,-9379.0,...,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,41.0,3.0
48735,456169.0,0.0,85500.0,109008.0,7411.5,90000.0,0.024610,-22995.0,365243.0,-12088.0,...,0.0,0.0,44.0,0.0,0.0,0.0,0.0,0.0,66.0,27.0
48736,456170.0,0.0,157500.0,500490.0,48888.0,450000.0,0.006671,-21780.0,365243.0,-10745.0,...,0.0,0.0,99.0,0.0,0.0,0.0,0.0,0.0,36.0,4.0
48737,456189.0,0.0,270000.0,360000.0,28570.5,360000.0,0.026392,-19397.0,-119.0,-4386.0,...,0.0,0.0,67.0,3.0,0.0,0.0,0.0,0.0,206.0,36.0
48738,456202.0,3.0,135000.0,252022.5,23112.0,217561.5,0.009175,-11708.0,-369.0,-174.0,...,0.0,0.0,16.0,1.0,0.0,0.0,0.0,0.0,14.0,54.0
48739,456221.0,0.0,121500.0,412560.0,17473.5,270000.0,0.002042,-19970.0,-5169.0,-9094.0,...,0.0,0.0,65.0,9.0,0.0,0.0,0.0,0.0,46.0,1.0
48740,456222.0,2.0,157500.0,622413.0,31909.5,495000.0,0.035792,-11186.0,-1149.0,-3015.0,...,0.0,0.0,44.0,0.0,0.0,0.0,0.0,0.0,66.0,27.0
48741,456223.0,1.0,202500.0,315000.0,33205.5,315000.0,0.026392,-15922.0,-3037.0,-2681.0,...,0.0,0.0,30.0,1.0,0.0,0.0,0.0,0.0,57.0,4.0
48742,456224.0,0.0,225000.0,450000.0,25128.0,450000.0,0.018850,-13968.0,-2731.0,-1461.0,...,0.0,0.0,207.0,16.0,1.0,1.0,1.0,13.0,552.0,198.0
48743,456250.0,0.0,135000.0,312768.0,24709.5,270000.0,0.006629,-13962.0,-633.0,-1072.0,...,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,25.0,50.0

In [67]:
print(test_cat_df.shape)
print(test_num_df.shape)

(48744, 17)
(48744, 345)

In [68]:
test_cat_df.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,SK_ID_CURR
0,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Married,House / apartment,Laborers,TUESDAY,Kindergarten,reg oper account,block of flats,"Stone, brick",No,100001
1,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Low-skill Laborers,FRIDAY,Self-employed,reg oper account,block of flats,Panel,No,100005
2,Cash loans,M,Y,Y,Unaccompanied,Working,Higher education,Married,House / apartment,Drivers,MONDAY,Transport: type 3,reg oper account,block of flats,Panel,No,100013
3,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Sales staff,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,100028
4,Cash loans,M,Y,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,FRIDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,100038

In [69]:
test_num_df.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
0,100001.0,0.0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241.0,-2329.0,-5170.0,...,0.0,0.0,31.0,1.0,0.0,0.0,0.0,0.0,110.0,30.0
1,100005.0,0.0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064.0,-4469.0,-9118.0,...,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0
2,100013.0,0.0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038.0,-4458.0,-2175.0,...,0.0,0.0,79.0,7.0,0.0,0.0,0.0,0.0,103.0,41.0
3,100028.0,2.0,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976.0,-1866.0,-2000.0,...,0.0,0.0,164.0,0.0,0.0,0.0,0.0,0.0,263.0,133.0
4,100038.0,1.0,180000.0,625500.0,32067.0,625500.0,0.010032,-13040.0,-2191.0,-4000.0,...,0.0,0.0,44.0,0.0,0.0,0.0,0.0,0.0,66.0,27.0

In [70]:
test_num_df['SK_ID_CURR'] = test_num_df['SK_ID_CURR'].astype('object')

In [71]:
test_num_df

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
0,100001,0.0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241.0,-2329.0,-5170.0,...,0.0,0.0,31.0,1.0,0.0,0.0,0.0,0.0,110.0,30.0
1,100005,0.0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064.0,-4469.0,-9118.0,...,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0
2,100013,0.0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038.0,-4458.0,-2175.0,...,0.0,0.0,79.0,7.0,0.0,0.0,0.0,0.0,103.0,41.0
3,100028,2.0,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976.0,-1866.0,-2000.0,...,0.0,0.0,164.0,0.0,0.0,0.0,0.0,0.0,263.0,133.0
4,100038,1.0,180000.0,625500.0,32067.0,625500.0,0.010032,-13040.0,-2191.0,-4000.0,...,0.0,0.0,44.0,0.0,0.0,0.0,0.0,0.0,66.0,27.0
5,100042,0.0,270000.0,959688.0,34600.5,810000.0,0.025164,-18604.0,-12009.0,-6116.0,...,0.0,0.0,190.0,7.0,1.0,0.0,0.0,0.0,246.0,171.0
6,100057,2.0,180000.0,499221.0,22117.5,373500.0,0.022800,-16685.0,-2580.0,-10125.0,...,0.0,0.0,71.0,0.0,0.0,0.0,0.0,0.0,229.0,67.0
7,100065,0.0,166500.0,180000.0,14220.0,180000.0,0.005144,-9516.0,-1387.0,-5063.0,...,0.0,0.0,48.0,0.0,0.0,0.0,0.0,0.0,170.0,92.0
8,100066,0.0,315000.0,364896.0,28957.5,315000.0,0.046220,-12744.0,-1013.0,-1686.0,...,0.0,0.0,12.0,1.0,0.0,0.0,0.0,0.0,23.0,20.0
9,100067,1.0,162000.0,45000.0,5337.0,45000.0,0.018634,-10395.0,-2625.0,-8124.0,...,0.0,0.0,119.0,1.0,0.0,0.0,0.0,0.0,77.0,134.0
10,100074,0.0,67500.0,675000.0,25447.5,675000.0,0.003122,-23670.0,365243.0,-7490.0,...,0.0,0.0,40.0,3.0,0.0,0.0,0.0,0.0,103.0,0.0
11,100090,0.0,135000.0,261621.0,16848.0,216000.0,0.008019,-15524.0,-3555.0,-7833.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
12,100091,0.0,247500.0,296280.0,23539.5,225000.0,0.018634,-12278.0,-929.0,-6031.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,59.0
13,100092,0.0,90000.0,360000.0,18535.5,360000.0,0.014520,-19687.0,-3578.0,-10673.0,...,0.0,0.0,112.0,19.0,0.0,0.0,0.0,0.0,205.0,182.0
14,100106,0.0,180000.0,157500.0,7875.0,157500.0,0.031329,-12091.0,-1830.0,-1042.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,9.0
15,100107,0.0,180000.0,296280.0,21690.0,225000.0,0.032561,-13563.0,-1007.0,-5719.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,100109,0.0,202500.0,407520.0,26041.5,360000.0,0.007020,-19375.0,-4739.0,-3035.0,...,0.0,0.0,51.0,1.0,0.0,0.0,0.0,0.0,313.0,137.0
17,100117,0.0,90000.0,499221.0,22117.5,373500.0,0.003122,-22705.0,365243.0,-5107.0,...,0.0,0.0,52.0,0.0,0.0,0.0,0.0,0.0,111.0,155.0
18,100128,1.0,225000.0,431280.0,23526.0,360000.0,0.025164,-10962.0,-1883.0,-99.0,...,0.0,0.0,221.0,12.0,2.0,1.0,0.0,0.0,783.0,143.0
19,100141,0.0,175500.0,478498.5,46741.5,454500.0,0.010147,-17955.0,-305.0,-10087.0,...,0.0,0.0,44.0,0.0,0.0,0.0,0.0,0.0,66.0,27.0
20,100150,0.0,99000.0,225000.0,19242.0,225000.0,0.007274,-10507.0,-2780.0,-5072.0,...,0.0,0.0,19.0,2.0,0.0,0.0,0.0,0.0,258.0,14.0
21,100168,0.0,157500.0,266652.0,16443.0,202500.0,0.011657,-22557.0,-13294.0,-13154.0,...,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,26.0,3.0
22,100169,0.0,135000.0,540000.0,27702.0,540000.0,0.072508,-22784.0,365243.0,-5103.0,...,0.0,0.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0
23,100170,1.0,337500.0,1313212.5,42493.5,1012500.0,0.024610,-11948.0,-1415.0,-5611.0,...,0.0,0.0,245.0,4.0,0.0,0.0,0.0,0.0,76.0,16.0
24,100171,0.0,157500.0,539100.0,29245.5,450000.0,0.031329,-13172.0,-3518.0,-6207.0,...,0.0,0.0,152.0,4.0,0.0,0.0,0.0,0.0,232.0,15.0
25,100172,0.0,76500.0,225000.0,12334.5,225000.0,0.010966,-15394.0,-967.0,-5389.0,...,0.0,0.0,32.0,0.0,0.0,0.0,0.0,0.0,13.0,14.0
26,100184,0.0,112500.0,256032.0,10759.5,180000.0,0.019689,-21150.0,365243.0,-4157.0,...,0.0,0.0,82.0,0.0,0.0,0.0,0.0,0.0,87.0,29.0
27,100187,0.0,225000.0,501363.0,25726.5,418500.0,0.031329,-21040.0,-2467.0,-918.0,...,0.0,0.0,23.0,0.0,0.0,0.0,0.0,0.0,46.0,11.0
28,100212,0.0,90000.0,450000.0,23107.5,450000.0,0.005002,-15773.0,-1310.0,-7173.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,100222,0.0,360000.0,945000.0,34074.0,945000.0,0.030755,-17796.0,-2785.0,-2296.0,...,0.0,0.0,156.0,9.0,0.0,0.0,0.0,0.0,355.0,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48714,455963,1.0,360000.0,547272.0,43366.5,495000.0,0.020713,-11987.0,-1745.0,-207.0,...,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,14.0,5.0
48715,455965,0.0,315000.0,900000.0,57519.0,900000.0,0.035792,-17293.0,-4836.0,-7779.0,...,0.0,0.0,86.0,3.0,0.0,0.0,0.0,0.0,42.0,8.0
48716,456007,0.0,135000.0,318645.0,16398.0,216000.0,0.008230,-12607.0,-2283.0,-6533.0,...,0.0,0.0,44.0,0.0,0.0,0.0,0.0,0.0,66.0,27.0
48717,456008,0.0,81000.0,180000.0,13455.0,180000.0,0.030755,-23732.0,365243.0,-11095.0,...,0.0,0.0,31.0,0.0,0.0,0.0,0.0,0.0,121.0,60.0
48718,456009,0.0,225000.0,360000.0,19530.0,360000.0,0.035792,-14237.0,-4931.0,-381.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
48719,456010,1.0,112500.0,690313.5,35374.5,549000.0,0.010032,-10667.0,-1979.0,-2973.0,...,0.0,0.0,12.0,1.0,0.0,0.0,0.0,0.0,141.0,32.0
48720,456011,1.0,171000.0,323460.0,23134.5,270000.0,0.024610,-12970.0,-305.0,-7021.0,...,0.0,0.0,89.0,1.0,0.0,0.0,0.0,0.0,214.0,2.0
48721,456013,1.0,130500.0,468333.0,37129.5,382500.0,0.035792,-8082.0,-1309.0,-2785.0,...,0.0,0.0,8.0,4.0,0.0,0.0,0.0,0.0,4.0,1.0
48722,456028,0.0,220500.0,166500.0,13284.0,166500.0,0.018209,-16506.0,-1310.0,-8924.0,...,0.0,0.0,89.0,0.0,0.0,0.0,0.0,0.0,104.0,15.0
48723,456058,1.0,67500.0,315000.0,16213.5,315000.0,0.011703,-15051.0,-2819.0,-3481.0,...,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0
48724,456111,1.0,112500.0,514710.0,17707.5,387000.0,0.020246,-15847.0,-2191.0,-5194.0,...,0.0,0.0,134.0,5.0,2.0,1.0,1.0,11.0,208.0,7.0
48725,456114,0.0,45000.0,450000.0,24543.0,450000.0,0.020713,-20464.0,-3727.0,-7668.0,...,0.0,0.0,74.0,1.0,0.0,0.0,0.0,0.0,258.0,91.0
48726,456115,1.0,225000.0,1002339.0,37917.0,846000.0,0.006305,-16710.0,-2196.0,-8897.0,...,0.0,0.0,97.0,4.0,1.0,0.0,0.0,0.0,250.0,62.0
48727,456116,1.0,180000.0,149256.0,15291.0,135000.0,0.018029,-15884.0,-6551.0,-1702.0,...,0.0,0.0,23.0,0.0,0.0,0.0,0.0,0.0,25.0,43.0
48728,456119,0.0,247500.0,685386.0,38398.5,585000.0,0.025164,-20898.0,365243.0,-8309.0,...,0.0,0.0,27.0,1.0,0.0,0.0,0.0,0.0,0.0,149.0
48729,456120,2.0,81000.0,135000.0,16020.0,135000.0,0.008230,-13165.0,-1564.0,-5706.0,...,0.0,0.0,44.0,0.0,0.0,0.0,0.0,0.0,66.0,27.0
48730,456122,2.0,157500.0,445095.0,40824.0,405000.0,0.016612,-16019.0,-3759.0,-9385.0,...,0.0,0.0,27.0,3.0,0.0,0.0,0.0,0.0,47.0,4.0
48731,456123,0.0,112500.0,450000.0,28890.0,450000.0,0.015221,-20536.0,365243.0,-9495.0,...,0.0,0.0,51.0,6.0,0.0,0.0,0.0,0.0,164.0,38.0
48732,456166,0.0,189000.0,479700.0,54382.5,450000.0,0.018634,-17716.0,-1896.0,-6378.0,...,0.0,0.0,19.0,5.0,0.0,0.0,0.0,0.0,144.0,10.0
48733,456167,0.0,135000.0,1047771.0,37764.0,904500.0,0.035792,-20003.0,-3684.0,-9657.0,...,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0,30.0,51.0
48734,456168,0.0,135000.0,835686.0,46660.5,765000.0,0.025164,-11387.0,-846.0,-9379.0,...,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,41.0,3.0
48735,456169,0.0,85500.0,109008.0,7411.5,90000.0,0.024610,-22995.0,365243.0,-12088.0,...,0.0,0.0,44.0,0.0,0.0,0.0,0.0,0.0,66.0,27.0
48736,456170,0.0,157500.0,500490.0,48888.0,450000.0,0.006671,-21780.0,365243.0,-10745.0,...,0.0,0.0,99.0,0.0,0.0,0.0,0.0,0.0,36.0,4.0
48737,456189,0.0,270000.0,360000.0,28570.5,360000.0,0.026392,-19397.0,-119.0,-4386.0,...,0.0,0.0,67.0,3.0,0.0,0.0,0.0,0.0,206.0,36.0
48738,456202,3.0,135000.0,252022.5,23112.0,217561.5,0.009175,-11708.0,-369.0,-174.0,...,0.0,0.0,16.0,1.0,0.0,0.0,0.0,0.0,14.0,54.0
48739,456221,0.0,121500.0,412560.0,17473.5,270000.0,0.002042,-19970.0,-5169.0,-9094.0,...,0.0,0.0,65.0,9.0,0.0,0.0,0.0,0.0,46.0,1.0
48740,456222,2.0,157500.0,622413.0,31909.5,495000.0,0.035792,-11186.0,-1149.0,-3015.0,...,0.0,0.0,44.0,0.0,0.0,0.0,0.0,0.0,66.0,27.0
48741,456223,1.0,202500.0,315000.0,33205.5,315000.0,0.026392,-15922.0,-3037.0,-2681.0,...,0.0,0.0,30.0,1.0,0.0,0.0,0.0,0.0,57.0,4.0
48742,456224,0.0,225000.0,450000.0,25128.0,450000.0,0.018850,-13968.0,-2731.0,-1461.0,...,0.0,0.0,207.0,16.0,1.0,1.0,1.0,13.0,552.0,198.0
48743,456250,0.0,135000.0,312768.0,24709.5,270000.0,0.006629,-13962.0,-633.0,-1072.0,...,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,25.0,50.0

In [72]:
test_imputed_df = test_num_df.merge(test_cat_df, on = 'SK_ID_CURR')
test_imputed_df.shape

(48744, 361)

In [73]:
test_imputed_df

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE
0,100001,0.0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241.0,-2329.0,-5170.0,...,Higher education,Married,House / apartment,Laborers,TUESDAY,Kindergarten,reg oper account,block of flats,"Stone, brick",No
1,100005,0.0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064.0,-4469.0,-9118.0,...,Secondary / secondary special,Married,House / apartment,Low-skill Laborers,FRIDAY,Self-employed,reg oper account,block of flats,Panel,No
2,100013,0.0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038.0,-4458.0,-2175.0,...,Higher education,Married,House / apartment,Drivers,MONDAY,Transport: type 3,reg oper account,block of flats,Panel,No
3,100028,2.0,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976.0,-1866.0,-2000.0,...,Secondary / secondary special,Married,House / apartment,Sales staff,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
4,100038,1.0,180000.0,625500.0,32067.0,625500.0,0.010032,-13040.0,-2191.0,-4000.0,...,Secondary / secondary special,Married,House / apartment,Laborers,FRIDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
5,100042,0.0,270000.0,959688.0,34600.5,810000.0,0.025164,-18604.0,-12009.0,-6116.0,...,Secondary / secondary special,Married,House / apartment,Drivers,MONDAY,Government,not specified,block of flats,Block,No
6,100057,2.0,180000.0,499221.0,22117.5,373500.0,0.022800,-16685.0,-2580.0,-10125.0,...,Higher education,Married,House / apartment,High skill tech staff,THURSDAY,Industry: type 9,reg oper account,block of flats,Panel,No
7,100065,0.0,166500.0,180000.0,14220.0,180000.0,0.005144,-9516.0,-1387.0,-5063.0,...,Higher education,Single / not married,With parents,Core staff,FRIDAY,Self-employed,reg oper account,block of flats,Panel,No
8,100066,0.0,315000.0,364896.0,28957.5,315000.0,0.046220,-12744.0,-1013.0,-1686.0,...,Higher education,Married,House / apartment,Core staff,THURSDAY,School,reg oper account,block of flats,"Stone, brick",No
9,100067,1.0,162000.0,45000.0,5337.0,45000.0,0.018634,-10395.0,-2625.0,-8124.0,...,Higher education,Civil marriage,House / apartment,Sales staff,TUESDAY,Trade: type 2,reg oper account,block of flats,Panel,No
10,100074,0.0,67500.0,675000.0,25447.5,675000.0,0.003122,-23670.0,365243.0,-7490.0,...,Secondary / secondary special,Married,House / apartment,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
11,100090,0.0,135000.0,261621.0,16848.0,216000.0,0.008019,-15524.0,-3555.0,-7833.0,...,Secondary / secondary special,Widow,House / apartment,Laborers,FRIDAY,Self-employed,reg oper account,block of flats,Panel,No
12,100091,0.0,247500.0,296280.0,23539.5,225000.0,0.018634,-12278.0,-929.0,-6031.0,...,Secondary / secondary special,Civil marriage,House / apartment,Laborers,THURSDAY,Self-employed,reg oper account,block of flats,Panel,No
13,100092,0.0,90000.0,360000.0,18535.5,360000.0,0.014520,-19687.0,-3578.0,-10673.0,...,Secondary / secondary special,Married,House / apartment,Core staff,TUESDAY,Government,reg oper account,block of flats,Panel,No
14,100106,0.0,180000.0,157500.0,7875.0,157500.0,0.031329,-12091.0,-1830.0,-1042.0,...,Secondary / secondary special,Civil marriage,House / apartment,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
15,100107,0.0,180000.0,296280.0,21690.0,225000.0,0.032561,-13563.0,-1007.0,-5719.0,...,Secondary / secondary special,Civil marriage,House / apartment,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
16,100109,0.0,202500.0,407520.0,26041.5,360000.0,0.007020,-19375.0,-4739.0,-3035.0,...,Secondary / secondary special,Single / not married,House / apartment,Laborers,SATURDAY,Services,reg oper account,block of flats,Panel,No
17,100117,0.0,90000.0,499221.0,22117.5,373500.0,0.003122,-22705.0,365243.0,-5107.0,...,Secondary / secondary special,Married,House / apartment,Laborers,FRIDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
18,100128,1.0,225000.0,431280.0,23526.0,360000.0,0.025164,-10962.0,-1883.0,-99.0,...,Higher education,Civil marriage,With parents,Managers,THURSDAY,Bank,reg oper account,block of flats,Panel,No
19,100141,0.0,175500.0,478498.5,46741.5,454500.0,0.010147,-17955.0,-305.0,-10087.0,...,Secondary / secondary special,Married,House / apartment,Laborers,TUESDAY,Industry: type 3,reg oper account,block of flats,Panel,No
20,100150,0.0,99000.0,225000.0,19242.0,225000.0,0.007274,-10507.0,-2780.0,-5072.0,...,Secondary / secondary special,Civil marriage,House / apartment,Sales staff,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
21,100168,0.0,157500.0,266652.0,16443.0,202500.0,0.011657,-22557.0,-13294.0,-13154.0,...,Higher education,Widow,House / apartment,Laborers,TUESDAY,Other,reg oper account,block of flats,"Stone, brick",No
22,100169,0.0,135000.0,540000.0,27702.0,540000.0,0.072508,-22784.0,365243.0,-5103.0,...,Higher education,Separated,House / apartment,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
23,100170,1.0,337500.0,1313212.5,42493.5,1012500.0,0.024610,-11948.0,-1415.0,-5611.0,...,Incomplete higher,Married,House / apartment,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
24,100171,0.0,157500.0,539100.0,29245.5,450000.0,0.031329,-13172.0,-3518.0,-6207.0,...,Secondary / secondary special,Married,House / apartment,Drivers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
25,100172,0.0,76500.0,225000.0,12334.5,225000.0,0.010966,-15394.0,-967.0,-5389.0,...,Secondary / secondary special,Civil marriage,House / apartment,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
26,100184,0.0,112500.0,256032.0,10759.5,180000.0,0.019689,-21150.0,365243.0,-4157.0,...,Secondary / secondary special,Widow,House / apartment,Laborers,THURSDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
27,100187,0.0,225000.0,501363.0,25726.5,418500.0,0.031329,-21040.0,-2467.0,-918.0,...,Higher education,Married,House / apartment,Laborers,THURSDAY,Self-employed,reg oper account,block of flats,"Stone, brick",No
28,100212,0.0,90000.0,450000.0,23107.5,450000.0,0.005002,-15773.0,-1310.0,-7173.0,...,Lower secondary,Married,House / apartment,Core staff,MONDAY,Self-employed,reg oper account,block of flats,Panel,No
29,100222,0.0,360000.0,945000.0,34074.0,945000.0,0.030755,-17796.0,-2785.0,-2296.0,...,Secondary / secondary special,Married,House / apartment,Laborers,WEDNESDAY,Self-employed,reg oper account,block of flats,Panel,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48714,455963,1.0,360000.0,547272.0,43366.5,495000.0,0.020713,-11987.0,-1745.0,-207.0,...,Higher education,Single / not married,Office apartment,Managers,TUESDAY,Kindergarten,reg oper account,block of flats,Panel,No
48715,455965,0.0,315000.0,900000.0,57519.0,900000.0,0.035792,-17293.0,-4836.0,-7779.0,...,Secondary / secondary special,Married,House / apartment,Managers,THURSDAY,Other,reg oper account,block of flats,Panel,No
48716,456007,0.0,135000.0,318645.0,16398.0,216000.0,0.008230,-12607.0,-2283.0,-6533.0,...,Secondary / secondary special,Single / not married,House / apartment,Drivers,MONDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
48717,456008,0.0,81000.0,180000.0,13455.0,180000.0,0.030755,-23732.0,365243.0,-11095.0,...,Secondary / secondary special,Married,House / apartment,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
48718,456009,0.0,225000.0,360000.0,19530.0,360000.0,0.035792,-14237.0,-4931.0,-381.0,...,Secondary / secondary special,Single / not married,House / apartment,Laborers,TUESDAY,Self-employed,reg oper account,block of flats,Monolithic,No
48719,456010,1.0,112500.0,690313.5,35374.5,549000.0,0.010032,-10667.0,-1979.0,-2973.0,...,Secondary / secondary special,Married,House / apartment,Sales staff,WEDNESDAY,Self-employed,reg oper account,block of flats,Panel,No
48720,456011,1.0,171000.0,323460.0,23134.5,270000.0,0.024610,-12970.0,-305.0,-7021.0,...,Secondary / secondary special,Married,House / apartment,Sales staff,TUESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
48721,456013,1.0,130500.0,468333.0,37129.5,382500.0,0.035792,-8082.0,-1309.0,-2785.0,...,Incomplete higher,Married,House / apartment,Cooking staff,TUESDAY,Hotel,reg oper account,block of flats,Panel,No
48722,456028,0.0,220500.0,166500.0,13284.0,166500.0,0.018209,-16506.0,-1310.0,-8924.0,...,Secondary / secondary special,Married,House / apartment,Drivers,SUNDAY,Self-employed,reg oper account,block of flats,Panel,No
48723,456058,1.0,67500.0,315000.0,16213.5,315000.0,0.011703,-15051.0,-2819.0,-3481.0,...,Higher education,Married,House / apartment,Laborers,WEDNESDAY,Government,reg oper account,block of flats,Panel,No
48724,456111,1.0,112500.0,514710.0,17707.5,387000.0,0.020246,-15847.0,-2191.0,-5194.0,...,Secondary / secondary special,Civil marriage,House / apartment,Laborers,MONDAY,Business Entity Type 3,reg oper spec account,block of flats,"Stone, brick",No
48725,456114,0.0,45000.0,450000.0,24543.0,450000.0,0.020713,-20464.0,-3727.0,-7668.0,...,Secondary / secondary special,Married,House / apartment,Cleaning staff,THURSDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
48726,456115,1.0,225000.0,1002339.0,37917.0,846000.0,0.006305,-16710.0,-2196.0,-8897.0,...,Secondary / secondary special,Married,House / apartment,Core staff,SATURDAY,Military,reg oper account,block of flats,Panel,No
48727,456116,1.0,180000.0,149256.0,15291.0,135000.0,0.018029,-15884.0,-6551.0,-1702.0,...,Higher education,Civil marriage,House / apartment,High skill tech staff,WEDNESDAY,Medicine,reg oper account,block of flats,Panel,No
48728,456119,0.0,247500.0,685386.0,38398.5,585000.0,0.025164,-20898.0,365243.0,-8309.0,...,Higher education,Separated,House / apartment,Laborers,FRIDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
48729,456120,2.0,81000.0,135000.0,16020.0,135000.0,0.008230,-13165.0,-1564.0,-5706.0,...,Secondary / secondary special,Married,House / apartment,Sales staff,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
48730,456122,2.0,157500.0,445095.0,40824.0,405000.0,0.016612,-16019.0,-3759.0,-9385.0,...,Incomplete higher,Married,House / apartment,Laborers,MONDAY,Self-employed,reg oper account,block of flats,Panel,No
48731,456123,0.0,112500.0,450000.0,28890.0,450000.0,0.015221,-20536.0,365243.0,-9495.0,...,Higher education,Married,House / apartment,Laborers,MONDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
48732,456166,0.0,189000.0,479700.0,54382.5,450000.0,0.018634,-17716.0,-1896.0,-6378.0,...,Higher education,Civil marriage,House / apartment,Sales staff,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
48733,456167,0.0,135000.0,1047771.0,37764.0,904500.0,0.035792,-20003.0,-3684.0,-9657.0,...,Secondary / secondary special,Married,House / apartment,Sales staff,TUESDAY,Other,reg oper account,block of flats,Panel,No
48734,456168,0.0,135000.0,835686.0,46660.5,765000.0,0.025164,-11387.0,-846.0,-9379.0,...,Secondary / secondary special,Married,House / apartment,Laborers,THURSDAY,Business Entity Type 2,reg oper account,block of flats,Panel,No
48735,456169,0.0,85500.0,109008.0,7411.5,90000.0,0.024610,-22995.0,365243.0,-12088.0,...,Secondary / secondary special,Married,House / apartment,Laborers,SATURDAY,Business Entity Type 3,reg oper account,block of flats,Block,No
48736,456170,0.0,157500.0,500490.0,48888.0,450000.0,0.006671,-21780.0,365243.0,-10745.0,...,Secondary / secondary special,Single / not married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
48737,456189,0.0,270000.0,360000.0,28570.5,360000.0,0.026392,-19397.0,-119.0,-4386.0,...,Secondary / secondary special,Separated,Rented apartment,Security staff,SUNDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
48738,456202,3.0,135000.0,252022.5,23112.0,217561.5,0.009175,-11708.0,-369.0,-174.0,...,Secondary / secondary special,Civil marriage,House / apartment,Laborers,TUESDAY,Self-employed,reg oper account,block of flats,Panel,No
48739,456221,0.0,121500.0,412560.0,17473.5,270000.0,0.002042,-19970.0,-5169.0,-9094.0,...,Secondary / secondary special,Widow,House / apartment,Laborers,WEDNESDAY,Other,reg oper account,block of flats,Panel,No
48740,456222,2.0,157500.0,622413.0,31909.5,495000.0,0.035792,-11186.0,-1149.0,-3015.0,...,Secondary / secondary special,Married,House / apartment,Sales staff,MONDAY,Trade: type 7,reg oper account,block of flats,Panel,No
48741,456223,1.0,202500.0,315000.0,33205.5,315000.0,0.026392,-15922.0,-3037.0,-2681.0,...,Secondary / secondary special,Married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
48742,456224,0.0,225000.0,450000.0,25128.0,450000.0,0.018850,-13968.0,-2731.0,-1461.0,...,Higher education,Married,House / apartment,Managers,MONDAY,Self-employed,reg oper account,block of flats,Panel,No
48743,456250,0.0,135000.0,312768.0,24709.5,270000.0,0.006629,-13962.0,-633.0,-1072.0,...,Secondary / secondary special,Married,House / apartment,Core staff,TUESDAY,Government,reg oper account,block of flats,Panel,No

In [80]:
test_imputed_df['SK_ID_CURR'] = test_imputed_df['SK_ID_CURR'].astype('int64')

In [81]:
test_imputed_df.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE
0,100001,0.0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241.0,-2329.0,-5170.0,...,Higher education,Married,House / apartment,Laborers,TUESDAY,Kindergarten,reg oper account,block of flats,"Stone, brick",No
1,100005,0.0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064.0,-4469.0,-9118.0,...,Secondary / secondary special,Married,House / apartment,Low-skill Laborers,FRIDAY,Self-employed,reg oper account,block of flats,Panel,No
2,100013,0.0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038.0,-4458.0,-2175.0,...,Higher education,Married,House / apartment,Drivers,MONDAY,Transport: type 3,reg oper account,block of flats,Panel,No
3,100028,2.0,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976.0,-1866.0,-2000.0,...,Secondary / secondary special,Married,House / apartment,Sales staff,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
4,100038,1.0,180000.0,625500.0,32067.0,625500.0,0.010032,-13040.0,-2191.0,-4000.0,...,Secondary / secondary special,Married,House / apartment,Laborers,FRIDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No

In [82]:
#Dummiying

test_final = pd.get_dummies(test_imputed_df, drop_first=True)

print('Test Features shape: ', test_final.shape)

Test Features shape:  (48744, 465)

In [83]:
test_final.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,FONDKAPREMONT_MODE_reg oper spec account,HOUSETYPE_MODE_specific housing,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_Yes
0,100001,0.0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241.0,-2329.0,-5170.0,...,0,0,0,0,0,0,0,1,0,0
1,100005,0.0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064.0,-4469.0,-9118.0,...,0,0,0,0,0,0,1,0,0,0
2,100013,0.0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038.0,-4458.0,-2175.0,...,0,0,0,0,0,0,1,0,0,0
3,100028,2.0,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976.0,-1866.0,-2000.0,...,0,0,0,0,0,0,1,0,0,0
4,100038,1.0,180000.0,625500.0,32067.0,625500.0,0.010032,-13040.0,-2191.0,-4000.0,...,0,0,0,0,0,0,1,0,0,0

In [84]:
test_final.to_csv('imputed_test.csv', index=False)