In [1]:
import pandas as pd
import io
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from scipy import stats
print ('Ran')

Ran

In [2]:
installment = pd.read_csv('D:/Project_Data/installments_payments.csv')

In [3]:
installment.shape

(13605401, 8)

installment=installment.iloc[0:1048575,:]

In [4]:
installment.shape

(13605401, 8)

In [5]:
cat_features = ['NUM_INSTALMENT_VERSION','NUM_INSTALMENT_NUMBER']

In [6]:
cat_features

['NUM_INSTALMENT_VERSION', 'NUM_INSTALMENT_NUMBER']

In [7]:
num_features = [f for f in installment.columns if installment[f].dtype != 'object' and f not in cat_features]

In [8]:
num_features

['SK_ID_PREV',
 'SK_ID_CURR',
 'DAYS_INSTALMENT',
 'DAYS_ENTRY_PAYMENT',
 'AMT_INSTALMENT',
 'AMT_PAYMENT']

In [9]:
df = installment[num_features]

In [10]:
df.head()

,SK_ID_PREV,SK_ID_CURR,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,-1383.0,-1366.0,2165.040,2160.585

In [11]:
df.shape

(13605401, 6)

In [12]:
def agg_numeric(df, group_var):

    # Remove id variables other than grouping variable
    for col in df:
        if col != group_var and 'SK_ID' in col:
            df = df.drop(columns = col)
            
    group_ids = df[group_var]
    df[group_var] = group_ids

    # Group by the specified variable and calculate the statistics
    agg = df.groupby(group_var).agg('mean').reset_index()

    return agg

In [13]:
num_group_df = agg_numeric(df.drop(columns = ['SK_ID_PREV']), group_var = 'SK_ID_CURR')

In [14]:
num_group_df.head()

,SK_ID_CURR,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,100001,-2187.714286,-2195.000000,5885.132143,5885.132143
1,100002,-295.000000,-315.421053,11559.247105,11559.247105
2,100003,-1378.160000,-1385.320000,64754.586000,64754.586000
3,100004,-754.000000,-761.666667,7096.155000,7096.155000
4,100005,-586.000000,-609.555556,6240.205000,6240.205000

In [15]:
num_group_df.shape

(339587, 5)

In [16]:
categorical = installment[cat_features]
categorical['SK_ID_CURR'] = installment['SK_ID_CURR']
categorical.head()

C:\Users\dbda\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   NUM_INSTALMENT_VERSION  NUM_INSTALMENT_NUMBER  SK_ID_CURR
0                     1.0                      6      161674
1                     0.0                     34      151639
2                     2.0                      1      193053
3                     1.0                      3      199697
4                     1.0                      2      167756

In [17]:
categorical.shape

(13605401, 3)

In [18]:
cat_group_df = categorical.groupby('SK_ID_CURR').agg('median').reset_index()
cat_group_df.head()

   SK_ID_CURR  NUM_INSTALMENT_VERSION  NUM_INSTALMENT_NUMBER
0      100001                     1.0                    3.0
1      100002                     1.0                   10.0
2      100003                     1.0                    5.0
3      100004                     1.0                    2.0
4      100005                     1.0                    5.0

In [19]:
cat_group_df.shape

(339587, 3)

In [20]:
installment = num_group_df.merge(cat_group_df,on='SK_ID_CURR')

In [21]:
installment.shape

(339587, 7)

In [23]:
installment.to_csv('C:/Users/dbda/Desktop/Work/Preprocessing_mean/installments_aggregate.csv',index=False)