In [1]:
import pandas as pd
import io
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from catboost import CatBoostClassifier
import pickle
from scipy import stats
print ('Ran')

Ran

In [2]:
app_train = pd.read_csv('D:/Project_Data/application_train.csv')
prev_app = pd.read_csv('D:/Project_Data/previous_application.csv')

In [3]:
cat_features = [f for f in prev_app.columns if prev_app[f].dtype == 'object']

In [4]:
categorical_var = [x for x in prev_app.columns if x in cat_features + ['SK_ID_CURR']]

In [5]:
continuous_var = [x for x in prev_app.columns if x not in categorical_var]

In [6]:
agg_previous_application_1 = prev_app.groupby('SK_ID_CURR').agg({k: lambda x: stats.mode(x)[0] for k in categorical_var})

C:\Users\dbda\Anaconda3\lib\site-packages\scipy\stats\stats.py:248: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

In [7]:
agg_previous_application_1.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,WEEKDAY_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,NAME_SELLER_INDUSTRY,NAME_YIELD_GROUP,PRODUCT_COMBINATION
SK_ID_CURR,,,,,,,,,,,,,,,,,
100001,100001,Consumer loans,FRIDAY,Y,XAP,Approved,Cash through the bank,XAP,Family,Refreshed,Mobile,POS,XNA,Country-wide,Connectivity,high,POS mobile with interest
100002,100002,Consumer loans,SATURDAY,Y,XAP,Approved,XNA,XAP,0,New,Vehicles,POS,XNA,Stone,Auto technology,low_normal,POS other with interest
100003,100003,Consumer loans,FRIDAY,Y,XAP,Approved,Cash through the bank,XAP,Family,Refreshed,Consumer Electronics,POS,XNA,Country-wide,Consumer electronics,middle,Cash X-Sell: low
100004,100004,Consumer loans,FRIDAY,Y,XAP,Approved,Cash through the bank,XAP,Unaccompanied,New,Mobile,POS,XNA,Regional / Local,Connectivity,middle,POS mobile without interest
100005,100005,Cash loans,FRIDAY,Y,XAP,Approved,Cash through the bank,XAP,0,New,Mobile,POS,XNA,Country-wide,Connectivity,XNA,Cash

In [ ]:
agg_previous_application_2 = prev_app.groupby('SK_ID_CURR').agg({k:lambda x: x.mean() for k in continuous_var})

In [ ]:
agg_previous_application_2.shape

In [ ]:
agg_previous_application_1.head(20)

In [ ]:
agg_previous_application_2.head(20)

In [ ]:
prev_app=pd.merge(agg_previous_application_1, agg_previous_application_2, left_index=True, right_index=True)

In [ ]:
prev_app.head(20)

In [ ]:
app_train.shape

In [ ]:
prev_app.shape

In [ ]:
prev_app.drop(['SK_ID_PREV'],axis=1,inplace=True)

In [ ]:
data_train = app_train.merge(prev_app,how='left', left_on='SK_ID_CURR',right_index=True)

In [ ]:
data_train.shape

In [ ]:
data_train.to_csv('merge_train_prev.csv', index = False)