In [1]:
from sklearn.model_selection import train_test_split 
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.metrics import roc_auc_score
import pandas as pd

In [31]:
merged_train =pd.read_csv('C:\\home-credit-default-risk\\imputed_train.csv')
merged_train.head()

,AMT_ANNUITY,AMT_ANNUITY_x,AMT_ANNUITY_y,AMT_APPLICATION,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_CREDIT_MAX_OVERDUE,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,...,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY.1,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE,TARGET,SK_ID_CURR
0,0.000000,24700.5,9251.775,179055.00,26793.606316,149727.272727,1312.010357,111388.838727,70223.142857,3198.8565,...,0.0,1,0.9722,0.9722,0.9722,0.6192,0.6243,0.6341,1,100002
1,5273.497207,35698.5,56553.990,435436.50,26793.606316,149727.272727,0.000000,254350.125000,0.000000,202500.0000,...,0.0,0,0.9851,0.9851,0.9851,0.7960,0.7987,0.8040,0,100003
2,5273.497207,6750.0,5357.250,24282.00,26793.606316,149727.272727,0.000000,94518.900000,0.000000,0.0000,...,0.0,0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648,0,100004
3,5273.497207,29686.5,23651.175,272203.26,0.000000,270000.000000,0.000000,188810.835268,36886.500000,0.0000,...,0.0,1,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648,0,100006
4,5273.497207,21865.5,12278.805,150530.25,26793.606316,149727.272727,0.000000,146250.000000,0.000000,0.0000,...,0.0,0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648,0,100007

In [20]:
train=merged_train.drop(['SK_ID_CURR'], axis=1)
train.head()

,AMT_ANNUITY,AMT_ANNUITY_x,AMT_ANNUITY_y,AMT_APPLICATION,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_CREDIT_MAX_OVERDUE,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,...,WEEKDAY_APPR_PROCESS_START_TUESDAY.1,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY.1,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE,TARGET
0,0.000000,24700.5,9251.775,179055.00,26793.606316,149727.272727,1312.010357,111388.838727,70223.142857,3198.8565,...,0,0.0,1,0.9722,0.9722,0.9722,0.6192,0.6243,0.6341,1
1,5273.497207,35698.5,56553.990,435436.50,26793.606316,149727.272727,0.000000,254350.125000,0.000000,202500.0000,...,0,0.0,0,0.9851,0.9851,0.9851,0.7960,0.7987,0.8040,0
2,5273.497207,6750.0,5357.250,24282.00,26793.606316,149727.272727,0.000000,94518.900000,0.000000,0.0000,...,0,0.0,0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648,0
3,5273.497207,29686.5,23651.175,272203.26,0.000000,270000.000000,0.000000,188810.835268,36886.500000,0.0000,...,0,0.0,1,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648,0
4,5273.497207,21865.5,12278.805,150530.25,26793.606316,149727.272727,0.000000,146250.000000,0.000000,0.0000,...,0,0.0,0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648,0

In [3]:
merged_test =pd.read_csv('C:\\home-credit-default-risk\\imputed_test.csv')

In [4]:
test=merged_test.drop(['SK_ID_CURR'], axis=1)
test.head()

,AMT_ANNUITY,AMT_ANNUITY_x,AMT_ANNUITY_y,AMT_APPLICATION,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_CREDIT_MAX_OVERDUE,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,...,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY.1,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY.1,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
0,1236.244186,20560.5,3951.000,24835.50,16381.567500,145843.373494,0.0,161516.250000,23893.770349,0.000000,...,0.0,0.0,0.0,0.0,0.9732,0.9732,0.9732,0.7552,0.7585,0.7583
1,608.785714,17370.0,4813.200,22308.75,16381.567500,145843.373494,0.0,175903.714286,132923.785714,0.000000,...,0.0,0.0,0.0,0.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7583
2,0.000000,69777.0,11478.195,130871.25,18159.919219,131718.750000,19305.0,532530.923478,0.000000,0.000000,...,0.0,0.0,1.0,1.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7583
3,1191.480605,49018.5,8091.585,49207.50,8085.058163,225000.000000,0.0,110187.861107,4962.624477,2934.137749,...,0.0,0.0,0.0,0.0,0.9970,0.9970,0.9970,0.9592,0.9597,0.9608
4,4189.362245,32067.0,17782.155,267727.50,16381.567500,145843.373494,0.0,183811.058824,25415.566390,0.000000,...,1.0,1.0,0.0,0.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7583

In [30]:
test.shape

(48744, 464)

In [5]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [34]:
dtc = DecisionTreeClassifier(random_state=2019)
rnd_clf = RandomForestClassifier()

In [35]:
Voting_soft = VotingClassifier(estimators=[('DT',dtc),
                                           ('RF',rnd_clf),
                                      ],voting='soft')

Voting_hard = VotingClassifier(estimators=[('DT',dtc),
                                      ('RF',random),
                                      ('XGB',xgb)],voting='soft')

In [36]:
X = merged_train.iloc[:,0:464]
y = merged_train[['TARGET']]

In [22]:
X.head()

,AMT_ANNUITY,AMT_ANNUITY_x,AMT_ANNUITY_y,AMT_APPLICATION,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_CREDIT_MAX_OVERDUE,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,...,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY.1,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY.1,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
0,0.000000,24700.5,9251.775,179055.00,26793.606316,149727.272727,1312.010357,111388.838727,70223.142857,3198.8565,...,0.0,0,0.0,1,0.9722,0.9722,0.9722,0.6192,0.6243,0.6341
1,5273.497207,35698.5,56553.990,435436.50,26793.606316,149727.272727,0.000000,254350.125000,0.000000,202500.0000,...,0.0,0,0.0,0,0.9851,0.9851,0.9851,0.7960,0.7987,0.8040
2,5273.497207,6750.0,5357.250,24282.00,26793.606316,149727.272727,0.000000,94518.900000,0.000000,0.0000,...,0.0,0,0.0,0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648
3,5273.497207,29686.5,23651.175,272203.26,0.000000,270000.000000,0.000000,188810.835268,36886.500000,0.0000,...,1.0,0,0.0,1,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648
4,5273.497207,21865.5,12278.805,150530.25,26793.606316,149727.272727,0.000000,146250.000000,0.000000,0.0000,...,0.0,0,0.0,0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648

In [37]:
Voting_soft.fit(X,y)

C:\Users\dbda\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\dbda\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

VotingClassifier(estimators=[('DT',
                              DecisionTreeClassifier(class_weight=None,
                                                     criterion='gini',
                                                     max_depth=None,
                                                     max_features=None,
                                                     max_leaf_nodes=None,
                                                     min_impurity_decrease=0.0,
                                                     min_impurity_split=None,
                                                     min_samples_leaf=1,
                                                     min_samples_split=2,
                                                     min_weight_fraction_leaf=0.0,
                                                     presort=False,
                                                     random_state=2019,
                                                     splitter='best')),
                             ('RF',
                              RandomForestClassifier(bootstr...
                                                     class_weight=None,
                                                     criterion='gini',
                                                     max_depth=None,
                                                     max_features='auto',
                                                     max_leaf_nodes=None,
                                                     min_impurity_decrease=0.0,
                                                     min_impurity_split=None,
                                                     min_samples_leaf=1,
                                                     min_samples_split=2,
                                                     min_weight_fraction_leaf=0.0,
                                                     n_estimators='warn',
                                                     n_jobs=None,
                                                     oob_score=False,
                                                     random_state=None,
                                                     verbose=0,
                                                     warm_start=False))],
                 flatten_transform=True, n_jobs=None, voting='soft',
                 weights=None)

In [39]:
y_pred = Voting_soft.predict_proba(test)[:,1]

In [40]:
submission = pd.DataFrame({'SK_ID_CURR': merged_test['SK_ID_CURR'], 'TARGET': y_pred})

In [41]:
submission.to_csv('C:\\home-credit-default-risk\\result\\voting_classifier_2.csv', index = False)